---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../config';
---
<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
    <body>
        <Header />
        <h1 class="text-center text-3xl"><prlgm class="error h-[1.2em]"><span>TODO</span></prlgm></h1>
        <br/>
        <h1 class="text-center text-2xl"><prlgm><span>Backslash</span></prlgm> Design</h1>
        <section>
            <p>
                The Backslash Design is a design standard inspired by the
                backslash character - a character commonly used in code
                to "escape" from the rest of a string.
                It mainly uses parallelograms to distinguish it from
                other designs (which commonly uses rounded rectangles.)
            </p>
            <h1 class="text-center text-xl"><prlgm><span>Title</span></prlgm></h1>
            
            <!-- TODO: Text field, button -->
        </section>
        <Footer />
    </body>
</html>