---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../config';
---
<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style>
            .svg-backslash {
                aspect-ratio: 1 / 1;
                box-sizing: content-box;
                width: 30em;
                max-width: 100%;
                background: url(/other/brand-kit/backslash.svg) no-repeat;
                background-size: auto 100%;
            }
            .dark .svg-backslash, .amoled .svg-backslash {
                background-image: url(/other/brand-kit/backslash-dark.svg);
            }
        </style>
	</head>
    <body>
        <Header />
        <h1 class="text-center text-2xl onest font-bold"><prlgm><span>BACKSLASH</span></prlgm> DESIGN</h1>
        <section>
            <p>
                The Backslash Design is a design standard inspired by the
                backslash character - a character commonly used in code
                to "escape" from the rest of a string.
                It mainly uses parallelograms to distinguish it from
                other designs (which commonly uses rounded rectangles.)
            </p>
            <br/>
            <p>
                With a redesign in 2024 sketched by 
                <a href="https://www.behance.net/shaheerchoudhe">Shaheer Babar,</a>
                and a refinement and implementation by yours truly,
                this design stands out from the rest, while being simple,
                sleek, and easily implementable.
            </p>
            <br/>
            <cards>
                <prlgm class="text-xl"><span>Title</span></prlgm>
                <button class="prlgm text-xl"><span>Button</span></button>
                <prlgm class="input-text"><input type="text" placeholder="Text Field"/></prlgm>
                <prlgm class="input-text">
                    <select>
                        <option>Example 1</option>
                        <option>Example 2</option>
                        <option>Example 3</option>
                    </select>
                </prlgm>
            </cards>
            <!-- TODO: include examples of checkboxes, cards, sections, and hr -->
        </section>
        <section>
            <p>
                While not yet available, the slash is at the perfect angle
                to be unique, while also being able to be made into an icon.
                It goes from 4 units down over 1 unit in either left or right,
                meaning it can be implemented into a 16x16, 32x32, or any variation
                of an icon size. The exact measurements can be found below:
            </p>
            <br/>
            <div class="flex justify-center"><div class="svg-backslash"></div></div>
        </section>
        <h1 class="text-center text-2xl onest font-bold"><prlgm><span>LOGO</span></prlgm></h1>
        <section>
            <p>
                The logo is relatively simple, being a stylized version of the
                name "ggtyler" with "tyler" being in the backslash parallelogram.
            </p>
            <!-- TODO: add image, svg -->
        </section>
        <h1 class="text-center text-2xl font-bold onest mt-16"><prlgm><span>COLOR</span></prlgm> SCHEMES</h1>
        <span class="flex justify-center m-4 mt-8"><prlgm class="hr"></prlgm></span>
        <h1 class="text-center text-xl font-bold onest mb-4">SEAVIEW <prlgm><span>LIGHT</span></prlgm></h1>
        <cards>
            <card class="text-center" style="background-color: var(--clr-light-bg); color: var(--clr-light-text);">
                <h1 class="text-xl">Background</h1>
                #BFDBFF
            </card>
            <card class="text-center" style="background-color: var(--clr-light-bg-soft); color: var(--clr-light-text);">
                <h1 class="text-xl">Background (Soft)</h1>
                #B6D0F2
            </card>
            <card class="text-center" style="background-color: var(--clr-light-bg-mute); color: var(--clr-light-text);">
                <h1 class="text-xl">Background (Mute)</h1>
                #A3BAD9
            </card>
            <card class="text-center" style="background-color: var(--clr-light-bg-extra); color: var(--clr-light-text);">
                <h1 class="text-xl">Background (Extra)</h1>
                #99AFCC
            </card>
            <card class="text-center" style="background-color: var(--clr-light-accent); color: var(--clr-light-text);">
                <h1 class="text-xl">Accent</h1>
                #006BFF
            </card>
            <card class="text-center" style="background-color: var(--clr-light-text); color: var(--clr-dark-text);">
                <h1 class="text-xl">Text</h1>
                #000B1A
            </card>
        </cards>
        <span class="flex justify-center m-4 mt-8"><prlgm class="hr"></prlgm></span>
        <h1 class="text-center text-xl font-bold onest mb-4">SEAVIEW <prlgm><span>DARK</span></prlgm></h1>
        <cards>
            <card class="text-center" style="background-color: var(--clr-dark-bg); color: var(--clr-dark-text);">
                <h1 class="text-xl">Background</h1>
                #001B40
            </card>
            <card class="text-center" style="background-color: var(--clr-dark-bg-soft); color: var(--clr-dark-text);">
                <h1 class="text-xl">Background (Soft)</h1>
                #00204D
            </card>
            <card class="text-center" style="background-color: var(--clr-dark-bg-mute); color: var(--clr-dark-text);">
                <h1 class="text-xl">Background (Mute)</h1>
                #002354
            </card>
            <card class="text-center" style="background-color: var(--clr-dark-bg-extra); color: var(--clr-dark-text);">
                <h1 class="text-xl">Background (Extra)</h1>
                #003175
            </card>
            <card class="text-center" style="background-color: var(--clr-dark-accent); color: var(--clr-light-text);">
                <h1 class="text-xl">Accent</h1>
                #00DBFF
            </card>
            <card class="text-center" style="background-color: var(--clr-dark-text); color: var(--clr-light-text);">
                <h1 class="text-xl">Text</h1>
                #FFFFFF
            </card>
        </cards>
        <span class="flex justify-center m-4 mt-8"><prlgm class="hr"></prlgm></span>
        <h1 class="text-center text-xl font-bold onest mb-4"><prlgm><span>FLASHBANG</span></prlgm></h1>
        <cards>
            <card class="text-center" style="background-color: var(--clr-flash-bg); color: var(--clr-flash-text);">
                <h1 class="text-xl">Background</h1>
                #DFDFDF
            </card>
            <card class="text-center" style="background-color: var(--clr-flash-bg-soft); color: var(--clr-flash-text);">
                <h1 class="text-xl">Background (Soft)</h1>
                #D5D5D5
            </card>
            <card class="text-center" style="background-color: var(--clr-flash-bg-mute); color: var(--clr-flash-text);">
                <h1 class="text-xl">Background (Mute)</h1>
                #BEBEBE
            </card>
            <card class="text-center" style="background-color: var(--clr-flash-bg-extra); color: var(--clr-flash-text);">
                <h1 class="text-xl">Background (Extra)</h1>
                #B3B3B3
            </card>
            <card class="text-center" style="background-color: var(--clr-flash-accent); color: var(--clr-flash-text);">
                <h1 class="text-xl">Accent</h1>
                #006BFF
            </card>
            <card class="text-center" style="background-color: var(--clr-flash-text); color: var(--clr-dark-text);">
                <h1 class="text-xl">Text</h1>
                #0D0D0D
            </card>
        </cards>
        <span class="flex justify-center m-4 mt-8"><prlgm class="hr"></prlgm></span>
        <h1 class="text-center text-xl font-bold onest mb-4"><prlgm><span>AMOLED</span></prlgm></h1>
        <cards>
            <card class="text-center" style="background-color: var(--clr-amoled-bg); color: var(--clr-amoled-text);">
                <h1 class="text-xl">Background</h1>
                #000000
            </card>
            <card class="text-center" style="background-color: var(--clr-amoled-bg-soft); color: var(--clr-amoled-text);">
                <h1 class="text-xl">Background (Soft)</h1>
                #1D1D1D
            </card>
            <card class="text-center" style="background-color: var(--clr-amoled-bg-mute); color: var(--clr-amoled-text);">
                <h1 class="text-xl">Background (Mute)</h1>
                #323232
            </card>
            <card class="text-center" style="background-color: var(--clr-amoled-bg-extra); color: var(--clr-amoled-text);">
                <h1 class="text-xl">Background (Extra)</h1>
                #424242
            </card>
            <card class="text-center" style="background-color: var(--clr-amoled-accent); color: var(--clr-light-text);">
                <h1 class="text-xl">Accent</h1>
                #00DBFF
            </card>
            <card class="text-center" style="background-color: var(--clr-amoled-text); color: var(--clr-light-text);">
                <h1 class="text-xl">Text</h1>
                #FFFFFF
            </card>
        </cards>
        <span class="flex justify-center m-4 mt-8"><prlgm class="hr"></prlgm></span>
        <h1 class="text-center text-xl font-bold onest mb-4">ADDITIONAL <prlgm><span>COLORS</span></prlgm></h1>
        <cards>
            <card class="text-center" style="background-color: rgb(var(--clr-error)); color: var(--clr-error-text);">
                <h1 class="text-xl">Error</h1>
                #C63838
            </card>
            <card class="text-center" style="background-color: var(--clr-error-text); color: var(--clr-light-text);">
                <h1 class="text-xl">Error Text</h1>
                #FFFFFF
            </card>
            <card class="text-center" style="background-color: rgb(var(--clr-graey)); color: var(--clr-graey-text);">
                <h1 class="text-xl">Graey</h1>
                #424242
            </card>
            <card class="text-center" style="background-color: var(--clr-graey-text); color: var(--clr-light-text);">
                <h1 class="text-xl">Graey Text</h1>
                #FFFFFF
            </card>
        </cards>
        <Footer />
    </body>
</html>