---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../config';

const list = [
    "nyc1.*.ggtyler.dev",
    "cal1.*.ggtyler.dev",
    "pol1.*.ggtyler.dev",
    "*.ggtyler.dev",
    "nyc1.*.ggt.bz",
    "cal1.*.ggt.bz",
    "pol1.*.ggt.bz",
    "*.ggt.bz"
];

const iv = list.map((i) => i.replace("*", "iv"));
const pi = list.map((i) => i.replace("*", "pi"));
const hp = list.map((i) => i.replace("*", "hp"));
const poke = list.map((i) => i.replace("*", "poke"));
const lr = list.map((i) => i.replace("*", "lr"));
const st = list.map((i) => i.replace("*", "st"));
const dm = list.map((i) => i.replace("*", "dm"));
const breeze = list.map((i) => i.replace("*", "breeze"));
const sx = list.map((i) => i.replace("*", "sx"));
const ly = list.map((i) => i.replace("*", "ly"));
const sptl = list.map((i) => i.replace("*", "sptl"));
const lbtl = list.map((i) => i.replace("*", "lbtl"));
const lv = list.map((i) => i.replace("*", "lv"));
const mz = list.map((i) => i.replace("*", "mz"));
---
<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
    <body>
        <Header />
        <span class="flex flex-col items-center justify-center m-auto h-72">
            <h1 class="text-3xl onest">Frontend hosting stopped on September 17th, 2025.</h1>
            <p class="mt-4">
                All server-sided user data has been wiped. Thank you for using this service. Please stay tuned for future
                projects.
            </p>
        </span>
        {(Astro.url.hostname === "www.ggtyler.dev" || iv.includes(Astro.url.hostname)) && <section>
            <h1 class="text-xl onest"><prlgm><span>Invidious</span></prlgm></h1>
            <p class="mt-4">
                All data for Invidious is server-sided. If you have not previously backed up your data, you are
                unfortunately unable to access it now. For other hosts, please see
                <a href="https://docs.invidious.io/instances/">this list.</a>
            </p>
        </section>}
        {(Astro.url.hostname === "www.ggtyler.dev" || pi.includes(Astro.url.hostname)) && <section>
            <h1 class="text-xl onest"><prlgm><span>Piped</span></prlgm></h1>
            <p class="mt-4">
                Some data for Piped, such as playlists and history, is client-sided and therefore can be retrieved.
                Open up the dev tools (<code>Ctrl+Shift+I</code> on most browsers, go to application (storage on any
                FF-based browsers,) and go to IndexedDB. You can then copy these values to
                <a href="https://github.com/TeamPiped/documentation/blob/main/content/docs/public-instances/index.md">
                    any Piped instance.
                </a>
                If you are not confident using dev tools, you can also use any browser extension that allows you to
                see/edit IndexedDB.
            </p>
        </section>}
        {(Astro.url.hostname === "www.ggtyler.dev" || hp.includes(Astro.url.hostname)) && <section>
            <h1 class="text-xl onest"><prlgm><span>Hyperpipe</span></prlgm></h1>
            <p class="mt-4">
                Some data for Hyperpipe, such as playlists, is client-sided and therefore can be retrieved.
                Open up the dev tools (<code>Ctrl+Shift+I</code> on most browsers, go to application (storage on any
                FF-based browsers,) and go to IndexedDB. You can then copy these values to
                <a href="https://codeberg.org/Hyperpipe/pages/src/branch/main/INSTANCES.md">any Hyperpipe instance.</a>
                If you are not confident using dev tools, you can also use any browser extension that allows you to
                see/edit IndexedDB.
            </p>
        </section>}
        {(Astro.url.hostname === "www.ggtyler.dev" || poke.includes(Astro.url.hostname)) && <section>
            <h1 class="text-xl onest"><prlgm><span>Poke</span></prlgm></h1>
            <p class="mt-4">
                Poke does not store any user data. Please refer to
                <a href="https://codeberg.org/ashley/poke/src/branch/main/instances.json">this list</a> for other hosts.
            </p>
        </section>}
        {(Astro.url.hostname === "www.ggtyler.dev" || lr.includes(Astro.url.hostname)) && <section>
            <h1 class="text-xl onest"><prlgm><span>RedLib</span></prlgm></h1>
            <p class="mt-4">
                Since data on RedLib is client-sided, if you haven't backed it up yet, you can still get your
                preferences. Open up the dev tools (<code>Ctrl+Shift+I</code> on most browsers,) go to application (storage on
                FF-based browsers,) and go to cookies. You can then copy these cookies to
                <a href="https://github.com/redlib-org/redlib-instances/blob/main/instances.md">any RedLib instance.</a>
                If you are not confident using dev tools, you can also use any browser extension that allows you to
                see/edit cookies.
            </p>
        </section>}
        {(Astro.url.hostname === "www.ggtyler.dev" || st.includes(Astro.url.hostname)) && <section>
            <h1 class="text-xl onest"><prlgm><span>SafeTwitch</span></prlgm></h1>
            <p class="mt-4">
                Since data on SafeTwitch is client-sided, if you haven't backed it up yet, you can still get your
                preferences. Open up the dev tools (<code>Ctrl+Shift+I</code> on most browsers,) go to application (storage on
                FF-based browsers,) and go to local storage. You can then copy these values to
                <a href="https://codeberg.org/safetwitch/safetwitch#clearnet">any SafeTwitch instance.</a>
                If you are not confident using dev tools, you can also use any browser extension that allows you to
                see/edit local storage.
            </p>
        </section>}
        {(Astro.url.hostname === "www.ggtyler.dev" || dm.includes(Astro.url.hostname)) && <section>
            <h1 class="text-xl onest"><prlgm><span>Dumb</span></prlgm></h1>
            <p class="mt-4">
                Dumb does not store any user data. Please refer to
                <a href="https://github.com/rramiachraf/dumb?tab=readme-ov-file#public-instances">this list</a> for
                other hosts.
            </p>
        </section>}
        {(Astro.url.hostname === "www.ggtyler.dev" || breeze.includes(Astro.url.hostname)) && <section>
            <h1 class="text-xl onest"><prlgm><span>Breezewiki</span></prlgm></h1>
            <p class="mt-4">
                Breezewiki does not store any user data. Please refer to
                <a href="https://docs.breezewiki.com/Links.html#(part._.Mirrors)">this list</a> for
                other hosts.
            </p>
        </section>}
        {(Astro.url.hostname === "www.ggtyler.dev" || sx.includes(Astro.url.hostname)) && <section>
            <h1 class="text-xl onest"><prlgm><span>SearXNG</span></prlgm></h1>
            <p class="mt-4">
                Since data on SearXNG is client-sided, if you haven't backed it up yet, you can still get your
                preferences. Open up the dev tools (<code>Ctrl+Shift+I</code> on most browsers,) go to application (storage on
                FF-based browsers,) and go to cookies. You can then copy these cookies to <a href="http://searx.space/">
                any SearXNG instance.</a> If you are not confident using dev tools, you can also use any browser
                extension that allows you to see/edit cookies.
            </p>
        </section>}
        {(Astro.url.hostname === "www.ggtyler.dev" || ly.includes(Astro.url.hostname)) && <section>
            <h1 class="text-xl onest"><prlgm><span>LibreY</span></prlgm></h1>
            <p class="mt-4">
                Since data on LibreY is client-sided, if you haven't backed it up yet, you can still get your
                preferences. Open up the dev tools (<code>Ctrl+Shift+I</code> on most browsers,) go to application (storage on
                FF-based browsers,) and go to cookies. You can then copy these cookies to
                <a href="https://github.com/Ahwxorg/librey/?tab=readme-ov-file#instances">any LibreY instance.</a>
                If you are not confident using dev tools, you can also use any browser extension that allows you to
                see/edit cookies.
            </p>
        </section>}
        {(Astro.url.hostname === "www.ggtyler.dev" || sptl.includes(Astro.url.hostname)) && <section>
            <h1 class="text-xl onest"><prlgm><span>SimplyTranslate</span></prlgm></h1>
            <p class="mt-4">
                SimplyTranslate does not store any user data. Please refer to
                <a href="https://codeberg.org/ManeraKai/simplytranslate/src/branch/main/instances.json">this list</a>
                for other hosts.
            </p>
        </section>}
        {(Astro.url.hostname === "www.ggtyler.dev" || lbtl.includes(Astro.url.hostname)) && <section>
            <h1 class="text-xl onest"><prlgm><span>LibreTranslate</span></prlgm></h1>
            <p class="mt-4">
                LibreTranslate does not store any user data. Please use the
                <a href="https://libretranslate.com">official host.</a>
            </p>
        </section>}
        {(Astro.url.hostname === "www.ggtyler.dev" || lv.includes(Astro.url.hostname)) && <section>
            <h1 class="text-xl onest"><prlgm><span>Lingva</span></prlgm></h1>
            <p class="mt-4">
                Lingva does not store any user data. Please refer to
                <a href="https://github.com/TheDavidDelta/lingva-translate?tab=readme-ov-file#instances">this list</a>
                for other hosts.
            </p>
        </section>}
        {(Astro.url.hostname === "www.ggtyler.dev" || mz.includes(Astro.url.hostname)) && <section>
            <h1 class="text-xl onest"><prlgm><span>Mozhi</span></prlgm></h1>
            <p class="mt-4">
                Mozhi does not store any user data. Please refer to
                <a href="https://codeberg.org/aryak/mozhi#instances">this list</a> for other hosts.
            </p>
        </section>}
        <Footer />
    </body>
</html>
