---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import Tooltip from '../../components/Tooltip.astro';
import MCIcon from '../../components/MCIcon.astro';
import { SITE_TITLE, SITE_DESCRIPTION, COMMENTS } from '../../config';
---
<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <script data-isso={COMMENTS} 
        data-title="Frontends List"
        data-isso-sorting="newest"
        data-isso-max-comments-top="30"
        data-isso-max-comments-nested="5"
        data-isso-reveal-on-click="15"
        src={COMMENTS + "js/embed.min.js"}></script>
	</head>
    <body>
        <Header />
        <p class="text-3xl font-bold text-center onest">Current Status: <prlgm class="warning"><span><b>WARNING</b></span></prlgm></p>
        <section>
            <p>
                We have updated Invidious to use a special bypass (same one used on some other popular instances.)
                Please let us know of any problems <a href="https://github.com/iv-org/invidious/issues">(that are NOT on invidious' issue tracker)</a> 
                as this is still experimental. Known bugs include:
                <ul>
                    <li>You may still occasionally get the "content isn't available", "this helps protect...", etc. errors. Just wait for a minute or two then refresh.</li>
                    <li>Audio may not function (change browsers, servers, or clear cache.)</li>
                    <li>On CAL-1, DASH playback doesn't work on Linux w/ Firefox.</li>
                    <li>On CAL-1, Images don't work.</li>
                    <li>Third-party apps, such as FreeTube and Materialous, may not function.</li>
                </ul>
                Piped and Hyperpipe are still affected by YouTube's block.
            </p>
        </section>
        <cards class="text-center items-start">
            <card class="w-56">
                <span class="text-[3.5em]"><icon></icon>┊<icon></icon></span>
                <h1 class="text-xl"><a href="https://nyc1.iv.ggtyler.dev">Invidious</a></h1>
                <center>(For YouTube)</center>
                <a href="https://github.com/ggtylerr/invidious"><icon></icon></a>
                <a href="https://invidious.io"><icon></icon></a>
                <br/>
                <span class="inner">
                    <span>
                        <a href="https://nyc1.iv.ggtyler.dev"><MCIcon name="us" amount={4} /> NYC-1</a><br/>
                        <a href="https://cal1.iv.ggtyler.dev"><MCIcon name="us" amount={4} /> CAL-1</a><br/>
                        <a href="https://pol1.iv.ggtyler.dev"><MCIcon name="pl" amount={2} /> POL-1</a>
                    </span>
                </span>
            </card>
            <card class="w-56">
                <span class="text-[3.5em]"><icon></icon>┊<icon></icon></span>
                <h1 class="text-xl"><a href="https://nyc1.pi.ggtyler.dev">Piped</a></h1>
                <center>(For YouTube)</center>
                <a href="https://github.com/TeamPiped/Piped"><icon></icon></a>
                <a href="https://docs.piped.video/"><icon></icon></a>
                <Tooltip text="API: nyc1.piapi.ggtyler.dev PROXY: nyc1.piproxy.ggtyler.dev"/>
                <br/>
                <span class="inner">
                    <span>
                        <a href="https://nyc1.pi.ggtyler.dev"><MCIcon name="us" amount={4} /> NYC-1</a><br/>
                        <a href="https://cal1.pi.ggtyler.dev"><MCIcon name="us" amount={4} /> CAL-1</a><br/>
                        <a href="https://pol1.pi.ggtyler.dev"><MCIcon name="pl" amount={2} /> POL-1</a>
                    </span>
                </span>
            </card>
            <card class="w-56">
                <span class="text-[3.5em]"><icon></icon>┊<icon></icon></span>
                <h1 class="text-xl"><a href="https://nyc1.hp.ggtyler.dev">Hyperpipe</a></h1>
                <center>(For YouTube Music)</center>
                <a href="https://codeberg.org/Hyperpipe/Hyperpipe"><icon></icon></a>
                <Tooltip text="API: nyc1.hpapi.ggtyler.dev"/>
                <br/>
                <span class="inner">
                    <span>
                        <a href="https://nyc1.hp.ggtyler.dev"><MCIcon name="us" amount={4} /> NYC-1</a><br/>
                        <a href="https://cal1.hp.ggtyler.dev"><MCIcon name="us" amount={4} /> CAL-1</a><br/>
                        <a href="https://pol1.hp.ggtyler.dev"><MCIcon name="pl" amount={2} /> POL-1</a>
                    </span>
                </span>
            </card>
            <card class="w-56">
                <span class="text-[3.4em]"><icon></icon>┊<icon></icon></span>
                <h1 class="text-xl"><a href="https://nyc1.poke.ggtyler.dev">Poke</a></h1>
                <center class="text-sm">(For YouTube and more)</center>
                <a href="https://codeberg.org/ashley/poke"><icon></icon></a>
                <br/>
                <span class="inner">
                    <span>
                        <a href="https://nyc1.poke.ggtyler.dev"><MCIcon name="us" amount={4} /> NYC-1</a><br/>
                        <a href="https://cal1.poke.ggtyler.dev"><MCIcon name="us" amount={4} /> CAL-1</a><br/>
                        <a href="https://pol1.poke.ggtyler.dev"><MCIcon name="pl" amount={2} /> POL-1</a>
                    </span>
                </span>
            </card>
            <card class="w-56">
                <span class="text-[3.5em]"><icon></icon>┊<icon></icon></span>
                <h1 class="text-xl"><a href="https://nyc1.lr.ggtyler.dev">RedLib</a></h1>
                <center>(For Reddit)</center>
                <a href="https://github.com/redlib-org/redlib"><icon></icon></a>
                <br/>
                <span class="inner">
                    <span>
                        <a href="https://nyc1.lr.ggtyler.dev"><MCIcon name="us" amount={4} /> NYC-1</a><br/>
                        <a href="https://cal1.lr.ggtyler.dev"><MCIcon name="us" amount={4} /> CAL-1</a><br/>
                        <a href="https://pol1.lr.ggtyler.dev"><MCIcon name="pl" amount={2} /> POL-1</a>
                    </span>
                </span>
            </card>
            <card class="w-56">
                <span class="text-[3.5em]"><icon></icon>┊<icon></icon></span>
                <h1 class="text-xl"><a href="https://nyc1.st.ggtyler.dev">SafeTwitch</a></h1>
                <center>(For Twitch)</center>
                <a href="https://codeberg.org/SafeTwitch/safetwitch"><icon></icon></a>
                <Tooltip text="API: nyc1.stapi.ggtyler.dev"/>
                <br/>
                <span class="inner">
                    <span>
                        <a href="https://nyc1.st.ggtyler.dev"><MCIcon name="us" amount={4} /> NYC-1</a><br/>
                        <a href="https://cal1.st.ggtyler.dev"><MCIcon name="us" amount={4} /> CAL-1</a><br/>
                        <a href="https://pol1.st.ggtyler.dev"><MCIcon name="pl" amount={2} /> POL-1</a>
                    </span>
                </span>
            </card>
            <card class="w-56">
                <span class="text-[3.5em]"><icon></icon>┊<icon></icon></span>
                <h1 class="text-xl"><a href="https://nyc1.dm.ggtyler.dev">Dumb</a></h1>
                <center>(For Genius)</center>
                <a href="https://github.com/rramiachraf/dumb"><icon></icon></a>
                <br/>
                <span class="inner">
                    <span>
                        <a href="https://nyc1.dm.ggtyler.dev"><MCIcon name="us" amount={4} /> NYC-1</a><br/>
                        <a href="https://cal1.dm.ggtyler.dev"><MCIcon name="us" amount={4} /> CAL-1</a><br/>
                        <a href="https://pol1.dm.ggtyler.dev"><MCIcon name="pl" amount={2} /> POL-1</a>
                    </span>
                </span>
            </card>
            <card class="w-56">
                <span class="text-[3.5em]"><icon></icon>┊<icon></icon></span>
                <h1 class="text-xl"><a href="https://nyc1.breeze.ggtyler.dev">Breezewiki</a></h1>
                <center>(For Fandom)</center>
                <a href="https://gitdab.com/cadence/breezewiki"><icon></icon></a>
                <Tooltip text="This service runs on the Docker version (from PussTheCat.org)"/>
                <br/>
                <span class="inner">
                    <span>
                        <a href="https://nyc1.breeze.ggtyler.dev"><MCIcon name="us" amount={4} /> NYC-1</a><br/>
                        <a href="https://cal1.breeze.ggtyler.dev"><MCIcon name="us" amount={4} /> CAL-1</a><br/>
                        <a href="https://pol1.breeze.ggtyler.dev"><MCIcon name="pl" amount={2} /> POL-1</a>
                    </span>
                </span>
            </card>
            <card class="w-56">
                <span class="text-[3.5em]"><icon></icon>┊<icon></icon></span>
                <h1 class="text-xl"><a href="https://nyc1.sx.ggtyler.dev">SearXNG</a></h1>
                <center>(For searching)</center>
                <a href="https://github.com/searxng/searxng"><icon></icon></a>
                <a href="https://docs.searxng.org/"><icon></icon></a>
                <br/>
                <span class="inner">
                    <span>
                        <a href="https://nyc1.sx.ggtyler.dev"><MCIcon name="us" amount={4} /> NYC-1</a><br/>
                        <a href="https://cal1.sx.ggtyler.dev"><MCIcon name="us" amount={4} /> CAL-1</a><br/>
                        <a href="https://pol1.sx.ggtyler.dev"><MCIcon name="pl" amount={2} /> POL-1</a>
                    </span>
                </span>
            </card>
            <card class="w-56">
                <span class="text-[3.5em]"><icon></icon>┊<icon></icon></span>
                <h1 class="text-xl"><a href="https://nyc1.ly.ggtyler.dev">LibreY</a></h1>
                <center>(For searching)</center>
                <a href="https://github.com/Ahwxorg/LibreY"><icon></icon></a>
                <br/>
                <span class="inner">
                    <span>
                        <a href="https://nyc1.ly.ggtyler.dev"><MCIcon name="us" amount={4} /> NYC-1</a><br/>
                        <a href="https://cal1.ly.ggtyler.dev"><MCIcon name="us" amount={4} /> CAL-1</a><br/>
                        <a href="https://pol1.ly.ggtyler.dev"><MCIcon name="pl" amount={2} /> POL-1</a>
                    </span>
                </span>
            </card>
            <card class="w-56">
                <span class="text-[3.5em]"><icon></icon>┊<icon></icon></span>
                <h1 class="text-xl"><a href="https://nyc1.sptl.ggtyler.dev">SimplyTranslate</a></h1>
                <center>(For translation)</center>
                <a href="https://codeberg.org/ManeraKai/simplytranslate/"><icon></icon></a>
                <br/>
                <span class="inner">
                    <span>
                        <a href="https://nyc1.sptl.ggtyler.dev"><MCIcon name="us" amount={4} /> NYC-1</a><br/>
                        <a href="https://cal1.sptl.ggtyler.dev"><MCIcon name="us" amount={4} /> CAL-1</a><br/>
                        <a href="https://pol1.sptl.ggtyler.dev"><MCIcon name="pl" amount={2} /> POL-1</a>
                    </span>
                </span>
            </card>
            <card class="w-56">
                <span class="text-[3.5em]"><icon></icon>┊<icon></icon></span>
                <h1 class="text-xl"><a href="https://nyc1.lbtl.ggtyler.dev">LibreTranslate</a></h1>
                <center>(For translation)</center>
                <a href="https://github.com/LibreTranslate/LibreTranslate"><icon></icon></a>
                <br/>
                <span class="inner">
                    <span>
                        <a href="https://nyc1.lbtl.ggtyler.dev"><MCIcon name="us" amount={4} /> NYC-1</a><br/>
                        <a href="https://cal1.lbtl.ggtyler.dev"><MCIcon name="us" amount={4} /> CAL-1</a><br/>
                        <a href="https://pol1.lbtl.ggtyler.dev"><MCIcon name="pl" amount={2} /> POL-1</a>
                    </span>
                </span>
            </card>
            <card class="w-56">
                <span class="text-[3.5em]"><icon></icon>┊<icon></icon></span>
                <h1 class="text-xl"><a href="https://nyc1.lv.ggtyler.dev">Lingva</a></h1>
                <center>(For translation)</center>
                <a href="https://github.com/TheDavidDelta/lingva-translate"><icon></icon></a>
                <br/>
                <span class="inner">
                    <span>
                        <a href="https://nyc1.lv.ggtyler.dev"><MCIcon name="us" amount={4} /> NYC-1</a><br/>
                        <a href="https://cal1.lv.ggtyler.dev"><MCIcon name="us" amount={4} /> CAL-1</a><br/>
                        <a href="https://pol1.lv.ggtyler.dev"><MCIcon name="pl" amount={2} /> POL-1</a>
                    </span>
                </span>
            </card>
            <card class="w-56">
                <span class="text-[3.5em]"><icon></icon>┊<icon></icon></span>
                <h1 class="text-xl"><a href="https://nyc1.mz.ggtyler.dev">Mozhi</a></h1>
                <center>(For translation)</center>
                <a href="https://codeberg.org/aryak/mozhi"><icon></icon></a>
                <br/>
                <span class="inner">
                    <span>
                        <a href="https://nyc1.mz.ggtyler.dev"><MCIcon name="us" amount={4} /> NYC-1</a><br/>
                        <a href="https://cal1.mz.ggtyler.dev"><MCIcon name="us" amount={4} /> CAL-1</a><br/>
                        <a href="https://pol1.mz.ggtyler.dev"><MCIcon name="pl" amount={2} /> POL-1</a>
                    </span>
                </span>
            </card>
        </cards>
        <p class="text-3xl font-bold text-center mt-4 onest">ADDITIONAL INFO</p>
        <section>
            <details>
                <summary>Server details</summary>
                <p>
                    NYC-1 is our main server - it's a fully dedicated server with <i>way</i> more OP specs than needed.
                    This is how my hosts are one of the most performant and reliable.
                </p>
                <p>
                    Besides myself, this server is shared between 3 other sysadmins: 
                    <a href="https://ashleygraves.eu">Ashley Graves,</a>
                    <a href="https://emreis.com">emreis,</a>
                    and <a href="https://ashley0143.xyz">Ashley0143.</a>
                </p>
                <ul class="ml-4">
                    <li>CPU: Intel Xeon E5-2660 v3 3.3GHz</li>
                    <li>RAM: 64GB</li>
                    <li>STORAGE: 1TB SSD</li>
                    <li>NETWORK: 10Gbps(?) Unmetered</li>
                    <li>HOST: RoyaleHosting</li>
                    <li>LOCATION: Nearby New York City</li>
                    <li>COST: €90 per month (roughly $98 a month)</li>
                </ul>
                <p>
                    CAL-1 is a standard VPS hosted in the heart of Silicon Valley, allowing for the best connection
                    to most popular services (i.e. YouTube.)
                </p>
                <ul class="ml-4">
                    <li>CPU: AMD EPYC 7402P 2.8GHz (2 vCPUs)</li>
                    <li>RAM: 5GB</li>
                    <li>STORAGE: 60GB SSD</li>
                    <li>NETWORK: 750Mbps Unmetered (during congestion, this can go as low as 2.5Mbps)</li>
                    <li>HOST: Torando VPS</li>
                    <li>LOCATION: Silicon Valley</li>
                    <li>COST: $20 per month</li>
                </ul>
                <p>
                    POL-1 is a standard VPS hosted in <s>femboy land</s> Warsaw, Poland. As our Europe server, it's
                    specced out to be fast and stable enough for all our <s>femboys</s> europeans.
                </p>
                <ul class="ml-4">
                    <li>CPU: Intel(R) Xeon(R) Silver 4114 (4 vCPUs)</li>
                    <li>RAM: 4GB</li>
                    <li>STORAGE: 144GB SSD</li>
                    <li>NETWORK: 1Gbps 60TB monthly cap</li>
                    <li>HOST: Skhron</li>
                    <li>LOCATION: Warsaw</li>
                    <li>COST: €42.87 per month (roughly $47 a month)</li>
                </ul>
            </details>
            <details>
                <summary>Donations</summary>
                <p>
                    As you can tell, running these all isn't cheap. I am currently paying over $100 out of pocket,
                    solely for the sake of others to use these. If you want to help out, you can donate to me at
                    <a href="https://liberapay.com/ggtyler">Liberapay.</a>
                    <br/><br/>
                    To be 100% crystal clear - <b><i>Donations will never be required for this service to run.</i></b>
                    Unless I get fired from my job for whatever reason and can't find a new one in time to pay for this,
                    I will always be paying the remaining cost out of pocket. This is merely set up if you or someone else
                    wants to help support me, and by extension, the frontend developers who make these.
                </p>
            </details>
            <details>
                <summary>URL Shortener</summary>
                <p>
                    We have a basic URL shortener system set up for these services. You can access it at <a href="https://ggt.bz">ggt.bz</a>.
                    Just replace the <code>ggtyler.dev</code> part of the URL with <code>ggt.bz</code> and you're good to go.
                    <br/><br/>
                    Have a specific server location you like to use? Go to <a href="https://ggt.bz">ggt.bz</a> first,
                    select the location you prefer, and now any link you visit through that will use that location.
                    (The exception being including the location in the URL itself.)
                </p>
            </details>
        </section>
        <section>
            <h1 class="text-3xl text-center onest mb-4">PLEASE <prlgm><span>READ</span></prlgm> BEFORE COMMENTING!</h1>
            <p>
                If you're commenting about a service not working, then check the service notice up top! It's very likely
                that it's a known issue. If you're commenting about me making a frontend, please remember that <b><i>I do not
                make anything listed here - </i></b> I merely host it for the public to use.
            </p>
            <p>
                Comments are approved manually - please be patient. If you do not see your comment immediately, <b><i>don't spam it.</i></b>
                Please have some common sense here too. These are still human beings, so no racism, sexism, homophobia, transphobia, etc. No NSFW either.
            </p>
        </section>
        <section id="isso-thread">
            <noscript>JavaScript needs to be activated to view comments.</noscript>
        </section>
        <Footer />
    </body>
</html>
