---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import Tooltip from '../../components/Tooltip.astro';
import MCIcon from '../../components/MCIcon.astro';
import { SITE_TITLE, SITE_DESCRIPTION, COMMENTS } from '../../config';
import type { Code } from 'astro:components';
---
<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <script data-isso={COMMENTS} 
        data-title="Frontends List"
        data-isso-sorting="newest"
        data-isso-max-comments-top="30"
        data-isso-max-comments-nested="5"
        data-isso-reveal-on-click="15"
        src={COMMENTS + "js/embed.min.js"}></script>
	</head>
    <body>
        <Header />
        <center><prlgm class="text-2xl font-bold"><span>FRONTEND LIST</span></prlgm></center>
        <section>
            <h1 class="text-center text-2xl">Current Status: <prlgm class="warning"><span><b>WARNING</b></span></prlgm></h1>
            <p>
                YouTube is A/B testing (rolling out) a change that requires users to login
                to an account to view any videos. This is subsequently affecting these YT frontends:
                <ul>
                    <li>Invidious <a href="https://github.com/iv-org/invidious/issues/4734">(Issue #4734)</a></li>
                    <li>Piped <a href="https://github.com/TeamPiped/Piped/issues/3658">(Issue #3658)</a></li>
                    <li>Beatbump</li>
                    <li>Hyperpipe</li>
                </ul>
                Poke does not seem to be affected. Cobalt has patched this* and their fix has been implemented on our servers.
                As this is a gradual rollout, you may see other instances working. Unfortunately,
                ours are affected, and in the coming days, all servers will not work until a proper
                patch is deployed.
                <br/>
                <i>
                    * Cobalt's fix is not necessary a "patch", it's essentially just using a user token.
                    Do not expect this to last long. 
                    See <a href="https://github.com/imputnet/cobalt/issues/551">Issue #551</a> for details.
                </i>
            </p>
        </section>
        <cards class="text-center">
            <card>
                <span class="text-[3.5em]"><icon></icon>┊<icon></icon></span>
                <h1 class="text-xl"><a href="https://iv.ggtyler.dev">Invidious</a></h1>
                <center>(For YouTube)</center>
                <a href="https://github.com/iv-org/invidious"><icon></icon></a>
                <a href="https://invidious.io"><icon></icon></a>
                <br/>
                <span class="inner">
                    <span>
                        <a href="https://nyc1.iv.ggtyler.dev"><MCIcon name="us" amount={4} /> NYC-1</a><br/>
                        <a href="https://cal1.iv.ggtyler.dev"><MCIcon name="us" amount={4} /> CAL-1</a><br/>
                        <a href="https://par1.iv.ggtyler.dev"><MCIcon name="fr" amount={3} /> PAR-1</a><Tooltip text="Google has blocked this instance. This server will be replaced soon."/><br/>
                    </span>
                </span>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon>┊<icon></icon></span>
                <h1 class="text-xl"><a href="https://pi.ggtyler.dev">Piped</a></h1>
                <center>(For YouTube)</center>
                <a href="https://github.com/TeamPiped/Piped"><icon></icon></a>
                <a href="https://docs.piped.video/"><icon></icon></a>
                <Tooltip text="API: piapi.ggtyler.dev PROXY: piproxy.ggtyler.dev"/>
                <br/>
                <span class="inner">
                    <span>
                        <a href="https://nyc1.pi.ggtyler.dev"><MCIcon name="us" amount={4} />  NYC-1</a><br/>
                        <a href="https://cal1.pi.ggtyler.dev"><MCIcon name="us" amount={4} /> CAL-1</a><br/>
                        <MCIcon name="fr" amount={3} /> PAR-1
                        <Tooltip text="IPv6 is unsupported and will likely not come to this node. This server will be replaced soon."/><br/>
                    </span>
                </span>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon>┊<icon></icon></span>
                <h1 class="text-xl"><a href="https://bb.ggtyler.dev">Beatbump</a></h1>
                <center>(For YouTube Music)</center>
                <a href="https://github.com/snuffyDev/Beatbump"><icon></icon></a>
                <a href="https://beatbump-docs.vercel.app/"><icon></icon></a>
                <Tooltip text="Proxy: bbproxy.ggtyler.dev"/>
                <br/>
                <span class="inner">
                    <span>
                        <a href="https://nyc1.bb.ggtyler.dev"><MCIcon name="us" amount={4} /> NYC-1</a><br/>
                        <a href="https://cal1.bb.ggtyler.dev"><MCIcon name="us" amount={4} /> CAL-1</a><br/>
                        <a href="https://par1.bb.ggtyler.dev"><MCIcon name="fr" amount={4} /> PAR-1</a> <Tooltip text="Google has blocked this instance. This server will be replaced soon."/><br/>
                    </span>
                </span>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon>┊<icon></icon></span>
                <h1 class="text-xl"><a href="https://hp.ggtyler.dev">Hyperpipe</a></h1>
                <center>(For YouTube Music)</center>
                <a href="https://codeberg.org/Hyperpipe/Hyperpipe"><icon></icon></a>
                <Tooltip text="API: hpapi.ggtyler.dev"/>
                <br/>
                <span class="inner">
                    <span>
                        <a href="https://nyc1.hp.ggtyler.dev"><MCIcon name="us" amount={4} /> NYC-1</a><br/>
                        <a href="https://cal1.hp.ggtyler.dev"><MCIcon name="us" amount={4} /> CAL-1</a><br/>
                        <MCIcon name="fr" amount={3} /> PAR-1 <Tooltip text="Google has blocked this instance. This server will be replaced soon."/><br/>
                    </span>
                </span>
            </card>
            <card>
                <span class="text-[3.4em]"><icon></icon>┊<icon></icon></span>
                <h1 class="text-xl"><a href="https://poke.ggtyler.dev">Poke</a></h1>
                <center class="text-sm">(For YouTube and more)</center>
                <a href="https://codeberg.org/ashley/poke"><icon></icon></a>
                <br/>
                <span class="inner">
                    <span>
                        <a href="https://nyc1.poke.ggtyler.dev"><MCIcon name="us" amount={4} /> NYC-1</a><br/>
                        <a href="https://cal1.poke.ggtyler.dev"><MCIcon name="us" amount={4} /> CAL-1</a><br/>
                        <MCIcon name="fr" amount={3} /> PAR-1<br/>
                    </span>
                </span>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon>┊<icon></icon></span>
                <h1 class="text-xl"><a href="https://lr.ggtyler.dev">RedLib</a></h1>
                <center>(For Reddit)</center>
                <a href="https://github.com/redlib-org/redlib"><icon></icon></a>
                <br/>
                <span class="inner">
                    <span>
                        <a href="https://nyc1.lr.ggtyler.dev"><MCIcon name="us" amount={4} /> NYC-1</a><br/>
                        <a href="https://cal1.lr.ggtyler.dev"><MCIcon name="us" amount={4} /> CAL-1</a><br/>
                        <a href="https://par1.lr.ggtyler.dev"><MCIcon name="fr" amount={3} /> PAR-1</a><br/>
                    </span>
                </span>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon>┊<icon></icon></span>
                <h1 class="text-xl"><a href="https://st.ggtyler.dev">SafeTwitch</a></h1>
                <center>(For Twitch)</center>
                <a href="https://codeberg.org/SafeTwitch/safetwitch"><icon></icon></a>
                <Tooltip text="API: stapi.ggtyler.dev"/>
                <br/>
                <span class="inner">
                    <span>
                        <a href="https://nyc1.st.ggtyler.dev"><MCIcon name="us" amount={4} /> NYC-1</a><br/>
                        <a href="https://cal1.st.ggtyler.dev"><MCIcon name="us" amount={4} /> CAL-1</a><br/>
                        <a href="https://par1.st.ggtyler.dev"><MCIcon name="fr" amount={3} /> PAR-1</a><br/>
                    </span>
                </span>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon>┊<icon></icon></span>
                <h1 class="text-xl"><a href="https://breeze.ggtyler.dev">Breezewiki</a></h1>
                <center>(For Fandom)</center>
                <a href="https://gitdab.com/cadence/breezewiki"><icon></icon></a>
                <Tooltip text="This service runs on the Docker version (from PussTheCat.org)"/>
                <br/>
                <span class="inner">
                    <span>
                        <a href="https://nyc1.breeze.ggtyler.dev"><MCIcon name="us" amount={4} /> NYC-1</a><br/>
                        <a href="https://cal1.breeze.ggtyler.dev"><MCIcon name="us" amount={4} /> CAL-1</a><br/>
                        <a href="https://par1.breeze.ggtyler.dev"><MCIcon name="fr" amount={3} /> PAR-1</a><br/>
                    </span>
                </span>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon>┊<icon></icon></span>
                <h1 class="text-xl"><a href="https://co.ggtyler.dev">Cobalt</a></h1>
                <center>(For social media DL)</center>
                <a href="https://github.com/imputnet/cobalt"><icon></icon></a>
                <Tooltip text="This service restarts at 0:00 UTC and postprocessing may be slow."/>
                <br/>
                <span class="inner">
                    <span>
                        <a href="https://nyc1.co.ggtyler.dev"><MCIcon name="us" amount={4} /> NYC-1</a><br/>
                        <a href="https://cal1.co.ggtyler.dev"><MCIcon name="us" amount={4} /> CAL-1</a><br/>
                        <a href="https://par1.co.ggtyler.dev"><MCIcon name="fr" amount={3} /> PAR-1</a> <Tooltip text="Google has blocked this instance. YouTube will not work on this instance. This server will be replaced soon."/><br/>
                    </span>
                </span>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon>┊<icon></icon></span>
                <h1 class="text-xl"><a href="https://sx.ggtyler.dev">SearXNG</a></h1>
                <center>(For searching)</center>
                <a href="https://github.com/searxng/searxng"><icon></icon></a>
                <a href="https://docs.searxng.org/"><icon></icon></a>
                <br/>
                <span class="inner">
                    <span>
                        <a href="https://nyc1.sx.ggtyler.dev"><MCIcon name="us" amount={4} /> NYC-1</a><br/>
                        <a href="https://cal1.sx.ggtyler.dev"><MCIcon name="us" amount={4} /> CAL-1</a><br/>
                        <a href="https://par1.sx.ggtyler.dev"><MCIcon name="fr" amount={3} /> PAR-1</a><br/>
                    </span>
                </span>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon>┊<icon></icon></span>
                <h1 class="text-xl"><a href="https://ly.ggtyler.dev">LibreY</a></h1>
                <center>(For searching)</center>
                <a href="https://github.com/Ahwxorg/LibreY"><icon></icon></a>
                <br/>
                <span class="inner">
                    <span>
                        <a href="https://nyc1.ly.ggtyler.dev"><MCIcon name="us" amount={4} /> NYC-1</a><br/>
                        <a href="https://cal1.ly.ggtyler.dev"><MCIcon name="us" amount={4} /> CAL-1</a><br/>
                        <MCIcon name="fr" amount={3} /> PAR-1<br/>
                    </span>
                </span>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon>┊<icon></icon></span>
                <h1 class="text-xl"><a href="https://sptl.ggtyler.dev">SimplyTranslate</a></h1>
                <center>(For translation)</center>
                <a href="https://codeberg.org/ManeraKai/simplytranslate/"><icon></icon></a>
                <br/>
                <span class="inner">
                    <span>
                        <a href="https://nyc1.sptl.ggtyler.dev"><MCIcon name="us" amount={4} /> NYC-1</a><br/>
                        <a href="https://cal1.sptl.ggtyler.dev"><MCIcon name="us" amount={4} /> CAL-1</a><br/>
                        <MCIcon name="fr" amount={3} /> PAR-1<br/>
                    </span>
                </span>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon>┊<icon></icon></span>
                <h1 class="text-xl"><a href="https://lbtl.ggtyler.dev">LibreTranslate</a></h1>
                <center>(For translation)</center>
                <a href="https://github.com/LibreTranslate/LibreTranslate"><icon></icon></a>
                <br/>
                <span class="inner">
                    <span>
                        <a href="https://nyc1.lbtl.ggtyler.dev"><MCIcon name="us" amount={4} /> NYC-1</a><br/>
                        <a href="https://cal1.lbtl.ggtyler.dev"><MCIcon name="us" amount={4} /> CAL-1</a><br/>
                        <MCIcon name="fr" amount={3} /> PAR-1<br/>
                    </span>
                </span>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon>┊<icon></icon></span>
                <h1 class="text-xl"><a href="https://lv.ggtyler.dev">Lingva</a></h1>
                <center>(For translation)</center>
                <a href="https://github.com/TheDavidDelta/lingva-translate"><icon></icon></a>
                <br/>
                <span class="inner">
                    <span>
                        <a href="https://nyc1.lv.ggtyler.dev"><MCIcon name="us" amount={4} /> NYC-1</a><br/>
                        <a href="https://cal1.lv.ggtyler.dev"><MCIcon name="us" amount={4} /> CAL-1</a><br/>
                        <MCIcon name="fr" amount={3} /> PAR-1<br/>
                    </span>
                </span>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon>┊<icon></icon></span>
                <h1 class="text-xl"><a href="https://mz.ggtyler.dev">Mozhi</a></h1>
                <center>(For translation)</center>
                <a href="https://codeberg.org/aryak/mozhi"><icon></icon></a>
                <br/>
                <span class="inner">
                    <span>
                        <a href="https://nyc1.mz.ggtyler.dev"><MCIcon name="us" amount={4} /> NYC-1</a><br/>
                        <a href="https://cal1.mz.ggtyler.dev"><MCIcon name="us" amount={4} /> CAL-1</a><br/>
                        <MCIcon name="fr" amount={3} /> PAR-1<br/>
                    </span>
                </span>
            </card>
        </cards>
        <section>
            <h1 class="text-2xl text-center">Additional Info</h1>
            <details>
                <summary>Server details</summary>
                <p>
                    NYC-1 is our main server - it's a fully dedicated server with <i>way</i> more OP specs than needed.
                    This is how my hosts are one of the most performant and reliable.</p>
                </p>
                <ul class="ml-4">
                    <li>CPU: Intel Xeon E5-2650 v2 2.6GHz</li>
                    <li>RAM: 128GB</li>
                    <li>STORAGE: 2TB SSD</li>
                    <li>NETWORK: 1Gbps Unmetered</li>
                    <li>HOST: RoyaleHosting</li>
                    <li>LOCATION: Nearby New York City</li>
                    <li>COST: €90 per month (roughly $97 a month)</li>
                </ul>
                <p>
                    CAL-1 is a standard VPS hosted in the heart of Silicon Valley, allowing for the best connection
                    to most popular services (i.e. YouTube.)
                </p>
                <ul class="ml-4">
                    <li>CPU: AMD EPYC 7402P 2.8GHz (2 vCPUS)</li>
                    <li>RAM: 5GB</li>
                    <li>STORAGE: 60GB SSD</li>
                    <li>NETWORK: 750Mbps Unmetered (during congestion, this can go as low as 2.5Mbps)</li>
                    <li>HOST: Torando VPS</li>
                    <li>LOCATION: Silicon Valley</li>
                    <li>COST: $20 per month</li>
                </ul>
                <p>
                    PAR-1 is a low powered dedicated server hosted in Paris. This will be replaced soon 
                    with a VPS with a dedicated IPv6 subnet. This is why you don't see a lot of stuff running on there.
                </p>
                <ul class="ml-4">
                    <li>CPU: Intel Xeon E3-1220 3.1Ghz</li>
                    <li>RAM: 8GB (DDR3)</li>
                    <li>STORAGE: 2x 1TB (HDD)</li>
                    <li>NETWORK: 1Gbps Unmetered</li>
                    <li>HOST: OneProvider</li>
                    <li>LOCATION: Nearby Paris</li>
                    <li>COST: $16 per month</li>
                </ul>
            </details>
            <details>
                <summary>Donations</summary>
                <p>
                    As you can tell, running these all isn't cheap. I am currently paying over $100 out of pocket,
                    solely for the sake of others to use these. If you want to help out, you can donate to me at
                    <a href="https://liberapay.com/ggtyler">Liberapay.</a>
                    <br/><br/>
                    (Please note that I'm not able to accept payments over Stripe due to legal nonsense. I'll be
                    sorting out a fix for this soon, and possibly adding GitHub Sponsors to remedy this.)
                    <br/><br/>
                    To be 100% crystal clear - <b><i>Donations will never be required for this service to run.</i></b>
                    Unless I get fired from my job for whatever reason and can't find a new one in time to pay for this,
                    I will always be paying the remaining cost out of pocket. This is merely set up if you or someone else
                    wants to help support me, and by extension, the frontend developers who make these.
                </p>
            </details>
            <details>
                <summary>URL Shortener</summary>
                <p>
                    We have a basic URL shortener system set up for these services. You can access it at <a href="https://ggt.bz">ggt.bz</a>.
                    Just replace the <code>ggtyler.dev</code> part of the URL with <code>ggt.bz</code> and you're good to go.
                    <br/><br/>
                    Have a specific server location you like to use? Go to <a href="https://ggt.bz">ggt.bz</a> first,
                    select the location you prefer, and now any link you visit through that will use that location.
                    (The exception being including the location in the URL itself.)
                </p>
            </details>
            <details>
                <summary>Service Restarts</summary>
                <p>
                    Services are restarted hourly to ensure they're running smoothly (with a few exceptions.) These also run update checks,
                    to make sure they're updated. These are spread out across the hour to prevent the server from being overloaded. Restart
                    times are as follows:
                    <ul class="ml-4">
                        <li>
                            Invidious - :00 - :05
                            <ul>
                                <li>Invidious is set up with a <a href="https://docs.invidious.io/improve-public-instance/">much more performant setup.</a></li>
                                <li>Because of this, hourly restarts don't affect the service at all.</li>
                                <li>However, there is a full service restart every 6 hours on automatic IPv6 changes, which may stop videos, albeit briefly.</li>
                            </ul>
                        </li>
                        <li>
                            Cobalt - :00
                            <ul>
                                <li>This is only restarted on 0:00 UTC to prevent interruptions to downloads.</li>
                            </ul>
                        </li>
                        <li>RedLib - :06</li>
                        <li>Piped - :08</li>
                        <li>Breezewiki - :12</li>
                        <li>Beatbump - :16</li>
                        <li>Hyperpipe - :20</li>
                        <li>SearXNG - :24</li>
                        <li>SafeTwitch - :28</li>
                        <li>SimplyTranslate - :32</li>
                        <li>LibreTranslate - :36</li>
                        <li>Lingva - :40</li>
                        <li>Mozhi - :44</li>
                        <li>LibreY - :48</li>
                        <li>
                            Poke - :52
                            <ul>
                                <li>This only restarts if there are any new commits.</li>
                            </ul>
                        </li>
                    </ul>
                    Keep in mind that as more services are added, this system may be changed to daily restarts for non-essential services.
                </p>
            </details>
        </section>
        <section>
            Comments are approved manually - please be patient. If you do not see your comment immediately, <b><i>don't spam it.</i></b>
            Please have some common sense here too. These are still human beings, so no racism, sexism, etc. No NSFW either.
            <br/><br/>
            Replies to comments are sorted newest first - I'm well aware this makes it hard to read.
            You can follow this issue on <a href="https://github.com/isso-comments/isso/issues/1026">Isso #1026.</a>
        </section>
        <section id="isso-thread">
            <noscript>JavaScript needs to be activated to view comments.</noscript>
        </section>
        <Footer />
    </body>
</html>