---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../config';
---
<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
    <body>
        <Header />
        <section>
            <p>
                This site does not use cookies, but instead uses local 
                storage to save your theme preference. 
                This cannot be used to identify you and never leaves your device.
                A partial IP address will be also be saved if you comment, 
                which is done via Isso (the software used to handle comments)
                <a href="https://github.com/posativ/isso/issues/445#issuecomment-392116236">
                and also cannot be used to identify you.</a>
                Comments can also be deleted <a href="/social">if you contact me.</a>
            </p>
            <br/>
            <p>
                <b>This is all the data stored on this site.</b> If you're paranoid,
                you can disable JS (or just not use those two components.) You can
                still change your theme preference via editing your Local Storage
                and setting <code>theme</code> to one of the following: 
                <code>["flash","light","dark","amoled","custom"]</code>
                You can also set custom colors by setting a color code string to
                one of the following keys: <br/>
                <code>["custom-bg", "custom-bg-soft", "custom-bg-mute", <br/>
                    "custom-bg-extra", "custom-accent", "custom-text"]</code>
            </p>
            <br/>
            <p>
                We do not use any kind of privacy-invading software such as 
                Google Analytics or CloudFlare.
                <b><i>However,</i></b> this site uses various third-party open-source
                libraries, such as Astro, React, Tailwind, Floating UI, and more.
                These libraries do not have any tracking methods as far as I know,
                but they may be included in the future, or I may have missed something.
            </p>
            <br/>
            <p>
                The same goes for any of my other software, not just this site.
                If applicable, please check if the software you want to use has an
                individual privacy policy. If not, then this one applies.
            </p>
            <br/>
            <p>
                If you believe any part of my software is violating your privacy,
                that be a specific line of code, a library used, or otherwise,
                please contact me or open an issue on the relevant repository.
            </p>
        </section>
        <section>
            <h1 class="text-2xl">Frontends</h1>
            <p>
                I host <a href="/other/frontends">multiple frontends</a> on my servers,
                mostly for user privacy. These are all open source and run on the same
                infrastructure as all my other services, which means that it does not
                collect any data whatsoever. No Cloudflare.
            </p>
            <br/>
            <p>
                It should be noted that due to auto updates, if a bad actor were to
                push a malicious update that started data collection, it may slip through.
                This is unlikely as all services run on Docker, and thus they'd need access
                to both the repository and the docker images, but it's still a possibility.
                This is why I still suggest you use a VPN and/or adblocker when using these.
            </p>
            <br/>
            <p>                
                Unfortunately, I don't have time to review each and every single piece of code
                before updating, and due to the nature of these frontends, auto updating
                is the only way to reliably keep them working. Please double check the
                frontend's source code before using it if you're concerned. (These are always
                linked on the frontend list.)
            </p>
        </section>
        <Footer />
    </body>
</html>