/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

/* Color scheme */
html {
	--clr-flash-bg: #DFDFDF;
	--clr-flash-bg-soft: #D5D5D5;
	--clr-flash-bg-mute: #BEBEBE;
	--clr-flash-bg-extra: #B3B3B3;
	--clr-flash-accent: #006BFF;
	--clr-flash-text: #0D0D0D;

	--clr-light-bg: #BFDBFF;
	--clr-light-bg-soft: #B6D0F2;
	--clr-light-bg-mute: #A3BAD9;
	--clr-light-bg-extra: #99AFCC;
	--clr-light-accent: #006BFF;
	--clr-light-text: #000B1A;

	--clr-dark-bg: #001B40;
	--clr-dark-bg-soft: #00204D;
	--clr-dark-bg-mute: #002354;
	--clr-dark-bg-extra: #003175;
	--clr-dark-accent: #00DBFF;
	--clr-dark-text: #FFF;

	/* --clr-amoled-bg: #1D1D1D;
	--clr-amoled-bg-soft: #000000; */
	--clr-amoled-bg: #000;
	--clr-amoled-bg-soft: #1D1D1D;
	--clr-amoled-bg-mute: #323232;
	--clr-amoled-bg-extra: #424242;
	--clr-amoled-accent: #00DBFF;
	--clr-amoled-text: #FFF;

	--clr-custom-bg: #BFDBFF;
	--clr-custom-bg-soft: #B6D0F2;
	--clr-custom-bg-mute: #A3BAD9;
	--clr-custom-bg-extra: #99AFCC;
	--clr-custom-accent: #006BFF;
	--clr-custom-text: #000B1A;

	--clr-warning: #c6c438;
	--clr-warning-text: #000;
	--clr-error: #c63838;
	--clr-error-text: #FFF;
	--clr-graey: #424242;
	--clr-graey-text: #FFF;
}

.flash {
	--clr-bg: var(--clr-flash-bg);
	--clr-bg-soft: var(--clr-flash-bg-soft);
	--clr-bg-mute: var(--clr-flash-bg-mute);
	--clr-bg-extra: var(--clr-flash-bg-extra);
	--clr-accent: var(--clr-flash-accent);
	--clr-text: var(--clr-flash-text);
}

.light, body:not(.flash):not(.dark):not(.amoled):not(.custom) {
	--clr-bg: var(--clr-light-bg);
	--clr-bg-soft: var(--clr-light-bg-soft);
	--clr-bg-mute: var(--clr-light-bg-mute);
	--clr-bg-extra: var(--clr-light-bg-extra);
	--clr-accent: var(--clr-light-accent);
	--clr-text: var(--clr-light-text);
}

.dark {
	--clr-bg: var(--clr-dark-bg);
	--clr-bg-soft: var(--clr-dark-bg-soft);
	--clr-bg-mute: var(--clr-dark-bg-mute);
	--clr-bg-extra: var(--clr-dark-bg-extra);
	--clr-accent: var(--clr-dark-accent);
	--clr-text: var(--clr-dark-text);
}

.amoled {
	--clr-bg: var(--clr-amoled-bg);
	--clr-bg-soft: var(--clr-amoled-bg-soft);
	--clr-bg-mute: var(--clr-amoled-bg-mute);
	--clr-bg-extra: var(--clr-amoled-bg-extra);
	--clr-accent: var(--clr-amoled-accent);
	--clr-text: var(--clr-amoled-text); 
}

.custom {
	--clr-bg: var(--clr-custom-bg);
	--clr-bg-soft: var(--clr-custom-bg-soft);
	--clr-bg-mute: var(--clr-custom-bg-mute);
	--clr-bg-extra: var(--clr-custom-bg-extra);
	--clr-accent: var(--clr-custom-accent);
	--clr-text: var(--clr-custom-text);
}
/* Fonts - credit to Mario Ranftl for their Google Webfonts Helper at https://github.com/majodev/google-webfonts-helper */

/* rubik-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/rubik-v28-latin-regular.eot'); /* IE9 Compat Modes */
	src: url('/fonts/rubik-v28-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	 	 url('/fonts/rubik-v28-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('/fonts/rubik-v28-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
		 url('/fonts/rubik-v28-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
		 url('/fonts/rubik-v28-latin-regular.svg#Rubik') format('svg'); /* Legacy iOS */
}

/* rubik-italic - latin */
@font-face {
	font-display: swap;
	font-family: 'Rubik';
	font-style: italic;
	font-weight: 400;
	src: url('/fonts/rubik-v28-latin-italic.eot'); /* IE9 Compat Modes */
	src: url('/fonts/rubik-v28-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('/fonts/rubik-v28-latin-italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('/fonts/rubik-v28-latin-italic.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
		 url('/fonts/rubik-v28-latin-italic.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
		 url('/fonts/rubik-v28-latin-italic.svg#Rubik') format('svg'); /* Legacy iOS */
}

/* rubik-700 - latin */
@font-face {
	font-display: swap;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/rubik-v28-latin-700.eot'); /* IE9 Compat Modes */
	src: url('/fonts/rubik-v28-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('/fonts/rubik-v28-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('/fonts/rubik-v28-latin-700.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
		 url('/fonts/rubik-v28-latin-700.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
		 url('/fonts/rubik-v28-latin-700.svg#Rubik') format('svg'); /* Legacy iOS */
}

/* rubik-700italic - latin */
@font-face {
	font-display: swap;
	font-family: 'Rubik';
	font-style: italic;
	font-weight: 700;
	src: url('/fonts/rubik-v28-latin-700italic.eot'); /* IE9 Compat Modes */
	src: url('/fonts/rubik-v28-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('/fonts/rubik-v28-latin-700italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('/fonts/rubik-v28-latin-700italic.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
		 url('/fonts/rubik-v28-latin-700italic.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
		 url('/fonts/rubik-v28-latin-700italic.svg#Rubik') format('svg'); /* Legacy iOS */
}

/* pt-mono-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'PT Mono';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/pt-mono-v13-latin-regular.eot'); /* IE9 Compat Modes */
	src: url('/fonts/pt-mono-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('/fonts/pt-mono-v13-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('/fonts/pt-mono-v13-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
		 url('/fonts/pt-mono-v13-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
		 url('/fonts/pt-mono-v13-latin-regular.svg#PTMono') format('svg'); /* Legacy iOS */
  }
  
  
/* Icons */
@font-face {
	font-family: 'icomoon';
	src: url('/fonts/icomoon.eot?jxuvrb');
	src: url('/fonts/icomoon.eot?jxuvrb#iefix') format('embedded-opentype'),
		 url('/fonts/icomoon.ttf?jxuvrb') format('truetype'),
		 url('/fonts/icomoon.woff?jxuvrb') format('woff'),
		 url('/fonts/icomoon.svg?jxuvrb#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
icon {
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	width: 1em;
	height: 1em;

	/* Enable Ligatures ================ */
	letter-spacing: 0;
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	font-feature-settings: "liga";
	-webkit-font-variant-ligatures: discretionary-ligatures;
	font-variant-ligatures: discretionary-ligatures;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
icon.us .path1:before {
	content: "\e918";
  	color: #b22334;
}
icon.us .path2:before {
	content: "\e919";
  	color: #eee;
  	margin-left: -1em;
}
icon.us .path3:before {
	content: "\e91a";
  	color: #3c3b6e;
  	margin-left: -1em;
}
icon.us .path4:before {
	content: "\e91b";
  	color: #fff;
  	margin-left: -1em;
}
icon.ca .path1:before {
	content: "\e915";
  	color: #d52b1e;
}
icon.ca .path2:before {
	content: "\e916";
  	color: #eee;
  	margin-left: -1em;
}
icon.ca .path3:before {
	content: "\e917";
  	color: #d52b1e;
  	margin-left: -1em;
}
icon.fr .path1:before {
	content: "\e911";
  	color: #ed2939;
}
icon.fr .path2:before {
	content: "\e913";
  	color: #002495;
 	margin-left: -1em;
}
icon.fr .path3:before {
	content: "\e914";
  	color: #eee;
  	margin-left: -1em;
}
/* Main content */
body {
	font-family: "Rubik", Verdana, sans-serif;
	margin: auto !important;
	padding: 20px;
	max-width: 1000px;
	text-align: left;
	background-color: var(--clr-bg);
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: var(--clr-text);
	transition: color 0.2s ease-out, background-color 0.2s ease-out;
}
section {
	background-color: var(--clr-bg-soft);
	border-radius: 5px;
	padding: 10px;
	margin: 1em 0;
}
a, a:visited {
	color: var(--clr-accent) !important;
	text-decoration-color: transparent;
	transition: color 0.2s ease-out;
}
a:not(.nounder):hover {
	text-decoration: underline !important;
}
a:hover {
	text-decoration-color: var(--clr-accent);
}
hr {
	border-color: var(--clr-bg-mute);
	border-radius: 5px;
	border-width: 1px;
}
/* Header */
header {
	padding: 0.5em;
	margin: 0;
	display: flex;
	justify-content: space-around;
	background-color: var(--clr-bg-soft);
	transform: skew(8.13010235415596deg);
	width: 100%;
	border-radius: 5px;
	transition: color 0.2s ease-out, background-color 0.2s ease-out;
}
header > nav {
	transform: skew(-8.13010235415596deg);
}
/* Theme Selector */
.Popover {
	background-color: var(--clr-bg-mute);
	border-radius: 5px;
	padding: 5px;
	width: 11.5em;
	z-index: 9999999999999999999999999999999;
}
.theme-btn {
	background: linear-gradient(to right, var(--clr-bg-extra) 50%, var(--clr-bg) 0) right / 200% 100% !important;
    height: 1em;
    line-height: 20px;
    border: 2px solid var(--clr-text) !important;
	margin: 0.5em 1em;
}
.theme-btn:hover {
	background-position: left !important;
}
.theme-btn > span { width: 1em; }
.theme-btn.custom {
	background: #006BFF;
	background: linear-gradient(to right,
		#FB07D9 0%,     #BA0CF8 5.56%,
		#5F15F2 11.12%, #1C7FEE 16.68%,
		#2FC9E2 22.24%, #3FDAD8 27.80%,
		#4FDC4A 33.36%, #D0DE21 38.92%,
		#FF9A00 44.48%, #FF0000 50.00%,
		#FF0000 50.00%, #FF9A00 55.56%, 
		#D0DE21 61.12%, #4FDC4A 66.68%,
		#3FDAD8 72.24%, #2FC9E2 77.80%,
		#1C7FEE 83.36%, #5F15F2 88.92%,
		#BA0CF8 94.48%, #FB07D9 100%
	) right / 200% 100% !important;
	border-color: black;
}
.theme-btn:hover {
	background-position: left !important;
}
.theme-color {
	display: inline-block;
	border: solid 1px black;
}
#custom-bg-color 		{ background-color: var(--clr-custom-bg); 		color: var(--clr-custom-bg); }
#custom-bg-soft-color 	{ background-color: var(--clr-custom-bg-soft); 	color: var(--clr-custom-bg-soft); }
#custom-bg-mute-color 	{ background-color: var(--clr-custom-bg-mute); 	color: var(--clr-custom-bg-mute); }
#custom-bg-extra-color 	{ background-color: var(--clr-custom-bg-extra); color: var(--clr-custom-bg-extra); }
#custom-accent-color 	{ background-color: var(--clr-custom-accent); 	color: var(--clr-custom-accent); }
#custom-text-color 		{ background-color: var(--clr-custom-bg); 		color: var(--clr-custom-text); }
/* Blog content */
img {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}
code {
	padding: 2px 5px;
	background-color: var(--clr-bg-mute);
	font-family: 'PT Mono', monospace;
}
pre.astro-code code * {
	padding: 0;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	background-color: var(--clr-bg-mute);
	border-left: 1em solid var(--clr-bg-extra);
	padding: 10px;
	font-style: italic;
	margin: 0.5em;
}
blockquote > code {
	background-color: var(--clr-bg-extra);
}
/* Code from https://www.h3xed.com/web-development/how-to-make-a-responsive-100-width-youtube-iframe-embed */
.yt {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	max-width: 100%;
}
.yt iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
/* Parallelogram */
prlgm, .prlgm {
	display: inline-block !important;
	background: var(--clr-accent);
	color: var(--clr-bg);
	transform: skew(8.13010235415596deg);
	width: calc(100% - 1em * -3.52909285589);
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	height: 1.5em;
	margin: 0 0.1em;
}
prlgm > *, .prlgm > * {
	display: inline-block;
	transform: skew(-8.13010235415596deg);
	padding-left: 0.1em;
	padding-right: 0.1em;
}
prlgm.input-text, .prlgm.input-text {
	background-color: var(--clr-bg-extra);
	border: solid 1px var(--clr-bg-extra);
	border-bottom-color: var(--clr-accent);
	transition: color 0.2s ease-out, background-color 0.2s ease-out;
}
prlgm.input-text:hover, prlgm.input-text:active,
prlgm.input-text:focus, .prlgm.input-text:hover, 
.prlgm.input-text:active, .prlgm.input-text:focus,
prlgm.input-text:focus-within, 
.prlgm.input-text:focus-within {
	border-color: var(--clr-accent);
}
input::placeholder {
	color: var(--clr-text);
	opacity: 0.5;
}
input:-ms-input-placeholder {
	color: var(--clr-text);
	opacity: 0.5;
} 
input::-ms-input-placeholder {
	color: var(--clr-text);
	opacity: 0.5;
}
prlgm > input, .prlgm > input, prlgm > select, .prlgm > select {
	outline: none;
	background: none;
	color: var(--clr-text);
}
prlgm > input:focus, .prlgm > input:focus,
prlgm > select:focus, .prlgm > select:focus {
	outline: none;
}
prlgm > select, .prlgm > select {
	background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHBvbHlnb24gY2xhc3M9ImNscy0yIiBwb2ludHM9IjEuNDEgNC42NyAyLjQ4IDMuMTggMy41NCA0LjY3IDEuNDEgNC42NyIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIzLjU0IDUuMzMgMi40OCA2LjgyIDEuNDEgNS4zMyAzLjU0IDUuMzMiLz48L3N2Zz4=) no-repeat 95% 50%;
	-moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none;
	padding-right: 1em;
}
button.prlgm {
	background: linear-gradient(to right, var(--clr-accent) 50%, var(--clr-bg-mute) 0) right / 200% 100%;
	color: inherit;
	border: 1px solid var(--clr-accent);
	transition: .2s ease-out;
}
button.prlgm:hover {
	background-position: left;
	color: var(--clr-bg);
}
.warning {
	background-color: var(--clr-warning);
	color: var(--clr-warning-text);
}
.error {
	background-color: var(--clr-error);
	color: var(--clr-error-text);
}
.gray { 
	background-color: var(--clr-graey); 
	color: var(--clr-graey-text);
}
nav * {
	padding: 0 5px;
}
/* Cards */
cards {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	grid-auto-rows: 1fr !important;
	align-items: center;
	justify-items: center;
}
card {
	background-color: var(--clr-bg-soft);
	min-height: 180px;
	width: 180px;
	border-radius: 5px;
	padding: 5px;
	position: relative;
}
cards.small {
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
cards.small card {
	min-height: 150px; 
	width: 150px;
}
card .inner {
	background-color: var(--clr-bg-mute);
	width: 170px;
	max-width: 170px;
	display: flex;
	padding: 5px;
	border-radius: 5px;
	justify-content: center;
	text-align: left;
}
card .inner span, cards.small card .inner span {
	width: fit-content;
}
cards.small card .inner {
	width: 140px;
	max-width: 140px;
}
/* Lists */
ol { list-style-position: inside !important; list-style-type: decimal !important; }
ul { list-style-position: inside !important; list-style-type: disc !important; }
li ul, li ol { margin: 0 0 0 1em; }
li ul { list-style-type: circle !important; }
li ol { list-style-type: upper-roman !important; }
/* Comments */
h4.isso-thread-heading { color: inherit !important; }
#isso-thread { padding: 10px !important; }
.isso-auth-section { padding: 0 !important; margin: 0 !important; }
.isso-postbox { margin: 0 !important; }
.isso-textarea { 
	background: var(--clr-bg-mute) !important; 
	border: 0 !important; 
	box-shadow: none !important; 
}
.isso-input-wrapper { 
	max-width: calc(25% - 10px) !important; 
	margin: 5px !important; 
}
.isso-input-wrapper input { 
	background: var(--clr-bg-mute) !important; 
	border: 0 !important; 
	box-shadow: none !important; 
}
.isso-post-action input { 
	background: var(--clr-accent) !important; 
	color: var(--clr-bg-soft) !important; 
	border: 0 !important; 
	box-shadow: none !important; 
}
.isso-post-action input:hover { background: var(--clr-accent) !important; }
.isso-preview { 
	background-color: var(--clr-bg-extra) !important; 
	background: repeating-linear-gradient( 
		-45deg, var(--clr-bg-mute), 
		var(--clr-bg-mute) 10px, 
		var(--clr-bg-extra) 10px, 
		var(--clr-bg-extra) 20px 
	) !important; 
	border: 0 !important; 
	box-shadow: none !important; 
}
.isso-comment-footer * { display: inline !important; }
.isso-upvote { padding: 4.5px !important; }
.isso-comment-footer .isso-spacer { display: none !important; }
.isso-feedlink:hover, .isso-comment-footer a:hover { 
	color: var(--clr-accent) !important; 
	text-shadow: none !important; 
}
