/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

/* Color scheme */
html {
	--clr-flash-bg: #DFDFDF;
	--clr-flash-bgRGB: 223,223,223;
	--clr-flash-bg-soft: #D5D5D5;
	--clr-flash-bg-softRGB: 213,213,213;
	--clr-flash-bg-mute: #BEBEBE;
	--clr-flash-bg-muteRGB: 190,190,190;
	--clr-flash-bg-extra: #B3B3B3;
	--clr-flash-bg-extraRGB: 179,179,179;
	--clr-flash-accent: #006BFF;
	--clr-flash-accentRGB: 0,107,255;
	--clr-flash-text: #0D0D0D;

	--clr-light-bg: #BFDBFF;
	--clr-light-bgRGB: 191,219,255;
	--clr-light-bg-soft: #B6D0F2;
	--clr-light-bg-softRGB: 182,208,242;
	--clr-light-bg-mute: #A3BAD9;
	--clr-light-bg-muteRGB: 163,186,217;
	--clr-light-bg-extra: #99AFCC;
	--clr-light-bg-extraRGB: 153,175,204;
	--clr-light-accent: #006BFF;
	--clr-light-accentRGB: 0,107,255;
	--clr-light-text: #000B1A;

	--clr-dark-bg: #001B40;
	--clr-dark-bgRGB: 0,27,64;
	--clr-dark-bg-soft: #00204D;
	--clr-dark-bg-softRGB: 0,32,77;
	--clr-dark-bg-mute: #002354;
	--clr-dark-bg-muteRGB: 0,35,84;
	--clr-dark-bg-extra: #003175;
	--clr-dark-bg-extraRGB: 0,49,117;
	--clr-dark-accent: #00DBFF;
	--clr-dark-accentRGB: 0,219,255;
	--clr-dark-text: #FFF;

	/* --clr-amoled-bg: #1D1D1D;
	--clr-amoled-bg-soft: #000000; */
	--clr-amoled-bg: #000;
	--clr-amoled-bgRGB: 0,0,0;
	--clr-amoled-bg-soft: #1D1D1D;
	--clr-amoled-bg-softRGB: 29,29,29;
	--clr-amoled-bg-mute: #323232;
	--clr-amoled-bg-muteRGB: 50,50,50;
	--clr-amoled-bg-extra: #424242;
	--clr-amoled-bg-extraRGB: 66,66,66;
	--clr-amoled-accent: #00DBFF;
	--clr-amoled-accentRGB: 0,219,255;
	--clr-amoled-text: #FFF;

	--clr-custom-bg: #BFDBFF;
	--clr-custom-bgRGB: 191,219,255;
	--clr-custom-bg-soft: #B6D0F2;
	--clr-custom-bg-softRGB: 182,208,242;
	--clr-custom-bg-mute: #A3BAD9;
	--clr-custom-bg-muteRGB: 163,186,217;
	--clr-custom-bg-extra: #99AFCC;
	--clr-custom-bg-extraRGB: 153,175,204;
	--clr-custom-accent: #006BFF;
	--clr-custom-accentRGB: 0,107,255;
	--clr-custom-text: #000B1A;

	--clr-warning: 198,196,56;
	--clr-warning-text: #000;
	--clr-error: 198,56,56;
	--clr-error-text: #FFF;
	--clr-graey: 66,66,66;
	--clr-graey-text: #FFF;
}

.flash {
	--clr-bg: var(--clr-flash-bg);
	--clr-bgRGB: var(--clr-flash-bgRGB);
	--clr-bg-soft: var(--clr-flash-bg-soft);
	--clr-bg-softRGB: var(--clr-flash-bg-softRGB);
	--clr-bg-mute: var(--clr-flash-bg-mute);
	--clr-bg-muteRGB: var(--clr-flash-bg-muteRGB);
	--clr-bg-extra: var(--clr-flash-bg-extra);
	--clr-bg-extraRGB: var(--clr-flash-bg-extraRGB);
	--clr-accent: var(--clr-flash-accent);
	--clr-accentRGB: var(--clr-flash-accentRGB);
	--clr-text: var(--clr-flash-text);
}

.light {
	--clr-bg: var(--clr-light-bg);
	--clr-bgRGB: var(--clr-light-bgRGB);
	--clr-bg-soft: var(--clr-light-bg-soft);
	--clr-bg-softRGB: var(--clr-light-bg-softRGB);
	--clr-bg-mute: var(--clr-light-bg-mute);
	--clr-bg-muteRGB: var(--clr-light-bg-muteRGB);
	--clr-bg-extra: var(--clr-light-bg-extra);
	--clr-bg-extraRGB: var(--clr-light-bg-extraRGB);
	--clr-accent: var(--clr-light-accent);
	--clr-accentRGB: var(--clr-light-accentRGB);
	--clr-text: var(--clr-light-text);
}

.dark, body:not(.flash):not(.light):not(.amoled):not(.custom) {
	--clr-bg: var(--clr-dark-bg);
	--clr-bgRGB: var(--clr-dark-bgRGB);
	--clr-bg-soft: var(--clr-dark-bg-soft);
	--clr-bg-softRGB: var(--clr-dark-bg-softRGB);
	--clr-bg-mute: var(--clr-dark-bg-mute);
	--clr-bg-muteRGB: var(--clr-dark-bg-muteRGB);
	--clr-bg-extra: var(--clr-dark-bg-extra);
	--clr-bg-extraRGB: var(--clr-dark-bg-extraRGB);
	--clr-accent: var(--clr-dark-accent);
	--clr-accentRGB: var(--clr-dark-accentRGB);
	--clr-text: var(--clr-dark-text);
}

.amoled {
	--clr-bg: var(--clr-amoled-bg);
	--clr-bgRGB: var(--clr-amoled-bgRGB);
	--clr-bg-soft: var(--clr-amoled-bg-soft);
	--clr-bg-softRGB: var(--clr-amoled-bg-softRGB);
	--clr-bg-mute: var(--clr-amoled-bg-mute);
	--clr-bg-muteRGB: var(--clr-amoled-bg-muteRGB);
	--clr-bg-extra: var(--clr-amoled-bg-extra);
	--clr-bg-extraRGB: var(--clr-amoled-bg-extraRGB);
	--clr-accent: var(--clr-amoled-accent);
	--clr-accentRGB: var(--clr-amoled-accentRGB);
	--clr-text: var(--clr-amoled-text); 
}

.custom {
	--clr-bg: var(--clr-custom-bg);
	--clr-bgRGB: var(--clr-custom-bgRGB);
	--clr-bg-soft: var(--clr-custom-bg-soft);
	--clr-bg-softRGB: var(--clr-custom-bg-softRGB);
	--clr-bg-mute: var(--clr-custom-bg-mute);
	--clr-bg-muteRGB: var(--clr-custom-bg-muteRGB);
	--clr-bg-extra: var(--clr-custom-bg-extra);
	--clr-bg-extraRGB: var(--clr-custom-bg-extraRGB);
	--clr-accent: var(--clr-custom-accent);
	--clr-accentRGB: var(--clr-custom-accentRGB);
	--clr-text: var(--clr-custom-text);
}
/* Fonts - credit to Mario Ranftl for their Google Webfonts Helper at https://github.com/majodev/google-webfonts-helper */

/* rubik-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/rubik-v28-latin-regular.eot'); /* IE9 Compat Modes */
	src: url('/fonts/rubik-v28-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	 	 url('/fonts/rubik-v28-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('/fonts/rubik-v28-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
		 url('/fonts/rubik-v28-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
		 url('/fonts/rubik-v28-latin-regular.svg#Rubik') format('svg'); /* Legacy iOS */
}

/* rubik-italic - latin */
@font-face {
	font-display: swap;
	font-family: 'Rubik';
	font-style: italic;
	font-weight: 400;
	src: url('/fonts/rubik-v28-latin-italic.eot'); /* IE9 Compat Modes */
	src: url('/fonts/rubik-v28-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('/fonts/rubik-v28-latin-italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('/fonts/rubik-v28-latin-italic.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
		 url('/fonts/rubik-v28-latin-italic.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
		 url('/fonts/rubik-v28-latin-italic.svg#Rubik') format('svg'); /* Legacy iOS */
}

/* rubik-700 - latin */
@font-face {
	font-display: swap;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/rubik-v28-latin-700.eot'); /* IE9 Compat Modes */
	src: url('/fonts/rubik-v28-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('/fonts/rubik-v28-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('/fonts/rubik-v28-latin-700.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
		 url('/fonts/rubik-v28-latin-700.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
		 url('/fonts/rubik-v28-latin-700.svg#Rubik') format('svg'); /* Legacy iOS */
}

/* rubik-700italic - latin */
@font-face {
	font-display: swap;
	font-family: 'Rubik';
	font-style: italic;
	font-weight: 700;
	src: url('/fonts/rubik-v28-latin-700italic.eot'); /* IE9 Compat Modes */
	src: url('/fonts/rubik-v28-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('/fonts/rubik-v28-latin-700italic.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('/fonts/rubik-v28-latin-700italic.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
		 url('/fonts/rubik-v28-latin-700italic.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
		 url('/fonts/rubik-v28-latin-700italic.svg#Rubik') format('svg'); /* Legacy iOS */
}

/* onest-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Onest';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/onest-v6-latin-regular.eot'); /* IE9 Compat Modes */
	src: url('/fonts/onest-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('/fonts/onest-v6-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('/fonts/onest-v6-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
		 url('/fonts/onest-v6-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
		 url('/fonts/onest-v6-latin-regular.svg#Onest') format('svg'); /* Legacy iOS */
}

/* onest-500 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Onest';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/onest-v6-latin-500.eot'); /* IE9 Compat Modes */
	src: url('/fonts/onest-v6-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('/fonts/onest-v6-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('/fonts/onest-v6-latin-500.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
		 url('/fonts/onest-v6-latin-500.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
		 url('/fonts/onest-v6-latin-500.svg#Onest') format('svg'); /* Legacy iOS */
}

/* onest-600 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Onest';
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/onest-v6-latin-600.eot'); /* IE9 Compat Modes */
	src: url('/fonts/onest-v6-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('/fonts/onest-v6-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('/fonts/onest-v6-latin-600.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
		 url('/fonts/onest-v6-latin-600.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
		 url('/fonts/onest-v6-latin-600.svg#Onest') format('svg'); /* Legacy iOS */
}

/* onest-700 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Onest';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/onest-v6-latin-700.eot'); /* IE9 Compat Modes */
	src: url('/fonts/onest-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('/fonts/onest-v6-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('/fonts/onest-v6-latin-700.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
		 url('/fonts/onest-v6-latin-700.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
		 url('/fonts/onest-v6-latin-700.svg#Onest') format('svg'); /* Legacy iOS */
}

/* onest-800 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Onest';
	font-style: normal;
	font-weight: 800;
	src: url('/fonts/onest-v6-latin-800.eot'); /* IE9 Compat Modes */
	src: url('/fonts/onest-v6-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('/fonts/onest-v6-latin-800.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('/fonts/onest-v6-latin-800.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
		 url('/fonts/onest-v6-latin-800.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
		 url('/fonts/onest-v6-latin-800.svg#Onest') format('svg'); /* Legacy iOS */
}

/* onest-900 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Onest';
	font-style: normal;
	font-weight: 900;
	src: url('/fonts/onest-v6-latin-900.eot'); /* IE9 Compat Modes */
	src: url('/fonts/onest-v6-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('/fonts/onest-v6-latin-900.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('/fonts/onest-v6-latin-900.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
		 url('/fonts/onest-v6-latin-900.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
		 url('/fonts/onest-v6-latin-900.svg#Onest') format('svg'); /* Legacy iOS */
}


/* pt-mono-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'PT Mono';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/pt-mono-v13-latin-regular.eot'); /* IE9 Compat Modes */
	src: url('/fonts/pt-mono-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('/fonts/pt-mono-v13-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('/fonts/pt-mono-v13-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
		 url('/fonts/pt-mono-v13-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
		 url('/fonts/pt-mono-v13-latin-regular.svg#PTMono') format('svg'); /* Legacy iOS */
  }
  
  
/* Icons */
@font-face {
	font-family: 'icomoon';
	src: url('/fonts/icomoon.eot?tkuv90');
	src: url('/fonts/icomoon.eot?tkuv90#iefix') format('embedded-opentype'),
		 url('/fonts/icomoon.ttf?tkuv90') format('truetype'),
		 url('/fonts/icomoon.woff?tkuv90') format('woff'),
		 url('/fonts/icomoon.svg?tkuv90#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
icon {
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	width: 1em;
	height: 1em;

	/* Enable Ligatures ================ */
	letter-spacing: 0;
	-webkit-font-feature-settings: "liga";
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	font-feature-settings: "liga";
	-webkit-font-variant-ligatures: discretionary-ligatures;
	font-variant-ligatures: discretionary-ligatures;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
icon.us .path1:before {
	content: "\e918";
  	color: #b22334;
}
icon.us .path2:before {
	content: "\e919";
  	color: #eee;
  	margin-left: -1em;
}
icon.us .path3:before {
	content: "\e91a";
  	color: #3c3b6e;
  	margin-left: -1em;
}
icon.us .path4:before {
	content: "\e91b";
  	color: #fff;
  	margin-left: -1em;
}
icon.ca .path1:before {
	content: "\e915";
  	color: #d52b1e;
}
icon.ca .path2:before {
	content: "\e916";
  	color: #eee;
  	margin-left: -1em;
}
icon.ca .path3:before {
	content: "\e917";
  	color: #d52b1e;
  	margin-left: -1em;
}
icon.pl .path1:before {
	content: "\e92c";
	color: rgb(238, 238, 238);
}
icon.pl .path2:before {
	content: "\e92d";
	margin-left: -1em;
	color: rgb(220, 20, 60);
}
icon.fr .path1:before {
	content: "\e911";
  	color: #ed2939;
}
icon.fr .path2:before {
	content: "\e913";
  	color: #002495;
 	margin-left: -1em;
}
icon.fr .path3:before {
	content: "\e914";
  	color: #eee;
  	margin-left: -1em;
}
/* Main content */
body {
	font-family: "Rubik", Verdana, sans-serif;
	margin: auto !important;
	padding: 20px;
	max-width: 1000px;
	text-align: left;
	background-color: var(--clr-bg);
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: var(--clr-text);
	transition: color 0.2s ease-out, background-color 0.2s ease-out;
}
* { transition: color 0.2s ease-out, background-color 0.2s ease-out !important; }
section {
	background-color: var(--clr-bg-soft);
	padding: 1em 1.5em;
	margin: 1em 0;
	position: relative;
}
section::before {
	content: "";
	position: absolute;
	left: 0.05em;
	bottom: 0;
	transform: skew(14.036deg);
	background-color: var(--clr-bg);
	width: 0.25em;
	height: 2.25em;
	display: inline-block;
}
section::after {
	content: "";
	position: absolute;
	right: 0.05em;
	top: 0;
	transform: skew(14.036deg);
	background-color: var(--clr-bg);
	width: 0.25em;
	height: 2.25em;
	display: inline-block;
}
a, a:visited {
	color: var(--clr-accent) !important;
	text-decoration-color: transparent;
	transition: color 0.2s ease-out;
}
a.text {
	color: var(--clr-text) !important;
}
a:not(.nounder):hover {
	text-decoration: underline;
}
a:hover {
	text-decoration-color: var(--clr-accent);
}
.nodeco:hover {
	text-decoration: none !important;
}
.nodeco:hover .redeco {
	text-decoration: underline !important;
}
.accent {
	color: var(--clr-accent);
}
hr {
	border-color: var(--clr-bg-extra);
	border-radius: 5px;
	border-width: 1px;
	margin: 0.5em 0;
}
.onest {
	font-family: "Onest", Verdana, sans-serif;
	font-weight: 900;
}
/* Header */
/* Theme Selector */
.Popover {
	background-color: var(--clr-bg-mute);
	padding: 1em;
	width: 12.5em;
	z-index: 9999999999999999999999999999999;
}
.Popover::before {
	content: "";
	position: absolute;
	left: 0.05em;
	top: 0;
	transform: skew(-14.036deg);
	background-color: var(--clr-bg);
	width: 0.25em;
	height: 2.25em;
	display: inline-block;
}
.Popover::after {
	content: "";
	position: absolute;
	right: 0.05em;
	bottom: 0;
	transform: skew(-14.036deg);
	background-color: var(--clr-bg);
	width: 0.25em;
	height: 2.25em;
	display: inline-block;
}
.theme-btn {
	background: rgba(var(--clr-bgRGB), 0.4) !important;
	width: 1.5em !important;
	margin-bottom: 1em !important;
}
.theme-btn::before {
	background: linear-gradient(to right, var(--clr-bg-extra) 50%, var(--clr-bg) 0) right / 200% 100% !important;
	margin: 0 !important;
	border: none !important;
}
.theme-btn:hover::before {
	background-position: left !important;
}
.theme-btn > span { width: 1em; }
.theme-btn.custom::before {
	background: #006BFF;
	background: linear-gradient(to right,
		#FB07D9 0%,     #BA0CF8 5.56%,
		#5F15F2 11.12%, #1C7FEE 16.68%,
		#2FC9E2 22.24%, #3FDAD8 27.80%,
		#4FDC4A 33.36%, #D0DE21 38.92%,
		#FF9A00 44.48%, #FF0000 50.00%,
		#FF0000 50.00%, #FF9A00 55.56%, 
		#D0DE21 61.12%, #4FDC4A 66.68%,
		#3FDAD8 72.24%, #2FC9E2 77.80%,
		#1C7FEE 83.36%, #5F15F2 88.92%,
		#BA0CF8 94.48%, #FB07D9 100%
	) right / 200% 100% !important;
}
.theme-btn.custom:hover::before {
	background-position: left !important;
}
.theme-color {
	display: inline-block;
	padding: 0;
	margin: 0 .2em !important;
}
#custom-bg-color 				{ background-color: rgba(var(--clr-custom-bgRGB),0.4);			color: var(--clr-custom-bg); }
#custom-bg-soft-color 			{ background-color: rgba(var(--clr-custom-bg-softRGB),0.4);		color: var(--clr-custom-bg-soft); }
#custom-bg-mute-color 			{ background-color: rgba(var(--clr-custom-bg-muteRGB),0.4); 	color: var(--clr-custom-bg-mute); }
#custom-bg-extra-color 			{ background-color: rgba(var(--clr-custom-bg-extraRGB),0.4); 	color: var(--clr-custom-bg-extra); }
#custom-accent-color 			{ background-color: rgba(var(--clr-custom-accentRGB),0.4); 		color: var(--clr-custom-accent); }
#custom-text-color 				{ background-color: rgba(var(--clr-custom-bgRGB),0.4); 			color: var(--clr-custom-text); }
#custom-bg-color::before 		{ background-color: var(--clr-custom-bg); }
#custom-bg-soft-color::before 	{ background-color: var(--clr-custom-bg-soft); }
#custom-bg-mute-color::before 	{ background-color: var(--clr-custom-bg-mute); }
#custom-bg-extra-color::before 	{ background-color: var(--clr-custom-bg-extra); }
#custom-accent-color::before 	{ background-color: var(--clr-custom-accent); }
#custom-text-color::before 		{ background-color: var(--clr-custom-bg); }
/* Blog content */
time {
	color: var(--clr-accent);
	font-size: 0.8em;
}
img {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}
code {
	padding: 2px 5px;
	background-color: var(--clr-bg-mute) !important;
	font-family: 'PT Mono', monospace;
}
pre.astro-code code * {
	padding: 0;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
blockquote {
	background-color: var(--clr-bg-mute);
	padding: 10px;
	font-style: italic;
	margin: 0.5em;
	position: relative;
}
blockquote::before {
	content: "";
	position: absolute;
	left: 0.05em;
	top: 0;
	transform: skew(-14.036deg);
	background-color: var(--clr-bg-soft);
	width: 0.25em;
	height: 2.25em;
	display: inline-block;
}
blockquote::after {
	content: "";
	position: absolute;
	right: 0.05em;
	bottom: 0;
	transform: skew(-14.036deg);
	background-color: var(--clr-bg-soft);
	width: 0.25em;
	height: 2.25em;
	display: inline-block;
}
blockquote > code {
	background-color: var(--clr-bg-extra);
}
/* Code from https://www.h3xed.com/web-development/how-to-make-a-responsive-100-width-youtube-iframe-embed */
.yt {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	max-width: 100%;
}
.yt iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
/* Parallelogram */
prlgm, .prlgm {
	display: inline-block !important;
	background-color: rgba(var(--clr-accentRGB), 0.4);
	color: var(--clr-bg);
	transform: skew(-14.036deg);
	width: calc(100% - 1em);
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	height: 1.4em;
	margin: 0 0.3em;
	position: relative;
	top: 0.1em;
	font-family: "Onest", Verdana, sans-serif;
	font-weight: 900;
}
prlgm::before, .prlgm::before {
	content: "";
	display: block !important;
	position: absolute;
	top: -0.1em;
	left: 0;
	transform: skew(28.072deg) !important;
	width: 100%;
	height: 1.6em;
	background: var(--clr-accent);
}
prlgm > *, .prlgm > * {
	display: inline-block;
	transform: skew(14.036deg);
	line-height: 1.4em;
	padding-left: 0.1em;
	padding-right: 0.2em;
	position: relative;
	top: -0.1em;
}
prlgm.hr, .prlgm.hr {
	width: 5em;
	height: 0.4em;
}
prlgm.hr::before, .prlgm.hr::before {
	width: 4.8em;
	height: 0.6em;
	left: 0.1em;
	top: -0.2em;
}
prlgm.input-text, .prlgm.input-text {
	background-color: rgba(var(--clr-bg-extraRGB), 0.4);
	transition: color 0.2s ease-out, background-color 0.2s ease-out;
	margin: 0.5em !important;
}
prlgm.input-text:before, .prlgm.input-text:before {
	background-color: var(--clr-bg-extra);
	border: solid 1px var(--clr-bg-extra);
	border-bottom-color: var(--clr-accent);
}
prlgm.input-text:hover, prlgm.input-text:active,
prlgm.input-text:focus, .prlgm.input-text:hover, 
.prlgm.input-text:active, .prlgm.input-text:focus,
prlgm.input-text:focus-within, 
.prlgm.input-text:focus-within {
	border-color: var(--clr-accent);
}
input::placeholder {
	color: var(--clr-text);
	opacity: 0.5;
}
input:-ms-input-placeholder {
	color: var(--clr-text);
	opacity: 0.5;
} 
input::-ms-input-placeholder {
	color: var(--clr-text);
	opacity: 0.5;
}
prlgm > input, .prlgm > input, prlgm > select, .prlgm > select {
	outline: none;
	background: none;
	color: var(--clr-text);
}
prlgm > input:focus, .prlgm > input:focus,
prlgm > select:focus, .prlgm > select:focus {
	outline: none;
}
prlgm > select, .prlgm > select {
	background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHBvbHlnb24gY2xhc3M9ImNscy0yIiBwb2ludHM9IjEuNDEgNC42NyAyLjQ4IDMuMTggMy41NCA0LjY3IDEuNDEgNC42NyIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIzLjU0IDUuMzMgMi40OCA2LjgyIDEuNDEgNS4zMyAzLjU0IDUuMzMiLz48L3N2Zz4=) no-repeat 95% 50%;
	-moz-appearance: none; 
    -webkit-appearance: none; 
    appearance: none;
	padding-right: 1em;
}
button.prlgm, .button.prlgm {
	background: rgba(var(--clr-accentRGB), 0.4);
	color: inherit !important;
	transition: .2s ease-out;
	cursor: pointer;
	font-family: "Onest", Verdana, sans-serif;
	font-weight: 900;
}
button.prlgm.bgc, .button.prlgm.bgc {
	height: 1.8em;
}
button.prlgm:hover, .button.prlgm:hover {
	color: var(--clr-bg) !important;
}
button.prlgm::before, .button.prlgm::before {
	background: linear-gradient(to right, var(--clr-accent) 50%, var(--clr-bg-mute) 0) right / 200% 100%;
	border: 1px solid var(--clr-accent);
	transition: .2s ease-out;
}
button.prlgm.bgc::before, .button.prlgm.bgc::before {
	background: linear-gradient(to right, var(--clr-accent) 50%, var(--clr-bg) 0) right / 200% 100%;
	height: 2em;
}
button.prlgm:hover::before, .button.prlgm:hover::before {
	background-position: left;
}
.warning {
	background-color: rgb(var(--clr-warning));
	color: var(--clr-warning-text);
}
prlgm.warning, .prlgm.warning {
	background-color: rgba(var(--clr-warning), 0.4);
}
prlgm.warning::before, .prlgm.warning::before {
	background-color: rgb(var(--clr-warning));
}
.error {
	background-color: rgb(var(--clr-error));
	color: var(--clr-error-text);
}
prlgm.error, .prlgm.error {
	background-color: rgba(var(--clr-error), 0.4);
}
prlgm.error::before, .prlgm.error::before {
	background-color: rgb(var(--clr-error));
}
.gray { 
	background-color: rgb(var(--clr-graey)); 
	color: var(--clr-graey-text);
}
prlgm.gray, .prlgm.gray {
	background-color: rgba(var(--clr-graey), 0.4);
}
prlgm.gray::before, .prlgm.gray::before {
	background-color: rgb(var(--clr-graey));
}
nav * {
	padding: 0 7px;
}
/* Cards */
cards {
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
	justify-content: space-evenly;
	gap: 1em;
}
card {
	background-color: var(--clr-bg-soft);
	min-height: 11em;
	width: 300px;
	padding: 1em 1.5em;
	position: relative;
}
card::before {
	content: "";
	position: absolute;
	left: 0.05em;
	top: 0;
	transform: skew(-14.036deg);
	background-color: var(--clr-bg);
	width: 0.25em;
	height: 2.25em;
	display: inline-block;
}
card::after {
	content: "";
	position: absolute;
	right: 0.05em;
	bottom: 0;
	transform: skew(-14.036deg);
	background-color: var(--clr-bg);
	width: 0.25em;
	height: 2.25em;
	display: inline-block;
}
cards.small {
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
cards.small card {
	min-height: 150px; 
	width: 150px;
}
card .inner {
	background-color: var(--clr-bg-mute);
	display: flex;
	padding: 5px;
	justify-content: center;
	text-align: left;
	position: relative;
}
card .inner::before {
	content: "";
	position: absolute;
	left: 0.05em;
	bottom: 0;
	transform: skew(14.036deg);
	background-color: var(--clr-bg-soft);
	width: 0.25em;
	height: 2.25em;
	display: inline-block;
}
card .inner::after {
	content: "";
	position: absolute;
	right: 0.05em;
	top: 0;
	transform: skew(14.036deg);
	background-color: var(--clr-bg-soft);
	width: 0.25em;
	height: 2.25em;
	display: inline-block;
}
card .inner span, cards.small card .inner span {
	width: fit-content;
}
cards.small card .inner {
	width: 140px;
	max-width: 140px;
}
card a:has(icon), card div.group {
	padding: 0 2px;
}
card .inner span icon {
	padding: 0 4px;
}
/* Lists */
ol { list-style-position: inside !important; list-style-type: decimal !important; }
ul { list-style-position: inside !important; list-style-type: disc !important; }
li ul, li ol { margin: 0 0 0 1em; }
li ul { list-style-type: circle !important; }
li ol { list-style-type: upper-roman !important; }
/* Collapsibles */
summary {
	font-size: 1.25rem;
	line-height: 1.75rem;
}
/* Comments */
h4.isso-thread-heading { color: inherit !important; }
#isso-thread { padding: 10px !important; }
.isso-auth-section { padding: 0 !important; margin: 0 !important; }
.isso-postbox { margin: 0 !important; }
.isso-textarea { 
	background: var(--clr-bg-mute) !important; 
	border: 0 !important; 
	box-shadow: none !important; 
}
.isso-input-wrapper { 
	max-width: calc(25% - 10px) !important; 
	margin: 5px !important; 
}
.isso-input-wrapper input { 
	background: var(--clr-bg-mute) !important; 
	border: 0 !important; 
	box-shadow: none !important; 
}
.isso-post-action input { 
	background: var(--clr-accent) !important; 
	color: var(--clr-bg-soft) !important; 
	border: 0 !important; 
	box-shadow: none !important; 
}
.isso-post-action input:hover { background: var(--clr-accent) !important; }
.isso-preview { 
	background-color: var(--clr-bg-extra) !important; 
	background: repeating-linear-gradient( 
		-45deg, var(--clr-bg-mute), 
		var(--clr-bg-mute) 10px, 
		var(--clr-bg-extra) 10px, 
		var(--clr-bg-extra) 20px 
	) !important; 
	border: 0 !important; 
	box-shadow: none !important; 
}
.isso-comment-footer * { display: inline !important; }
.isso-upvote { padding: 4.5px !important; }
.isso-comment-footer .isso-spacer { display: none !important; }
.isso-feedlink:hover, .isso-comment-footer a:hover { 
	color: var(--clr-accent) !important; 
	text-shadow: none !important; 
}
