---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---
<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
    <body>
        <Header />
        <section class="text-center">
            <p><a href="/resume.pdf">Resume</a> - Hire me!</p>
            <p><a>Brand Kit</a> - TODO</p>
        </section>
        <Footer />
    </body>
</html>