---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---
<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
    <body>
        <Header />
        <cards>
            <card>
                <a class="text-xl" href="/resume.pdf">Resume</a>
                <br/>
                Hire me!
            </card>
            <card>
                <a class="text-xl" href="/other/brand-kit">Brand Kit</a>
                <br/>
                Design guidelines for my projects
            </card>
            <card>
                <a class="text-xl" href="/other/privacy">Privacy Policy</a>
                <br/>
                The site's privacy policy (spoilers: I don't collect any data)
            </card>
            <card>
                <a class="text-xl" href="/pgp-key">PGP Key</a>
                <br/>
                My PGP pubkey, in case you want to send an encrypted email to me.
            </card>
            <card>
                <a class="text-xl" href="/resume.pdf">Resume</a>
                <br/>
                Hire me!
            </card>
            <card>
                <a class="text-xl" href="/other/credits">Credits</a>
                <br/>
                The resources and people who helped make this possible
            </card>
        </cards>
        <Footer />
    </body>
</html>