---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import MainProjects from '../components/MainProjects.astro';
---
<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
    <body>
        <Header />
        <MainProjects />
        <span class="text-center text-2xl flex justify-center pb-3"><prlgm><span><b>LEGACY</b></span></prlgm></span>
        <cards>
            <card>
                <h1 class="text-xl">DSA Bot</h1>
                <p>The Discord bot made for esports.</p>
                <nav class="absolute bottom-2 text-center">
                    <a href="https://github.com/ggtylerr/DSA-Disc-Bot">Source</a>
                </nav>
            </card>
            <card>
                <h1 class="text-xl">KAaNE</h1>
                <p>Keep Assisting and Nobody Explodes. The ultimate defusal tool for <a href="https://keeptalkinggame.com/">KTaNE</a>.</p>
                <nav class="absolute bottom-2 text-center">
                    <a href="https://github.com/ggtylerr/KAaNE-AE-">Android</a> \
                    <a href="https://github.com/ggtylerr/KAaNE-JE-">Java</a> \
                    <a href="https://github.com/ggtylerr/KAaNE">Python 2</a>
                </nav>
            </card>
            <card>
                <h1 class="text-xl">Dark Side SCP</h1>
                <p>An actual working dark theme for SCP wiki.</p>
                <nav class="absolute bottom-2 text-center">
                    <a href="https://github.com/ggtylerr/Dark-Side-SCP">Source</a>
                </nav>
            </card>
            <card>
                <h1 class="text-xl">Fabric Armor</h1>
                <p>A Fabric mod that lets you show off your love for Fabric.</p>
                <nav class="absolute bottom-2 text-center">
                    <a href="https://www.curseforge.com/minecraft/mc-mods/fabric-armor">CurseForge</a> \
                    <a href="https://github.com/ggtylerr/fabricarmor">Source</a>
                </nav>
            </card>
        </cards>
        <Footer />
    </body>
</html>