---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---
<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
    <body>
        <Header />
        <section>
            <h1 class="text-xl"><prlgm><span><b>BETA</b></span></prlgm> ggtyler.dev</h1>
            The very site you're on. Completely open source. Made in <a href="https://astro.build">Astro</a>.
            <nav class="text-center">
                <a href="/">Index</a> | 
                <a href="https://github.com/ggtylerr/ggtyler.dev">Source</a>
            </nav>
        </section>
        <section>
            <h1 class="text-xl"><prlgm class="error"><span><b>ALPHA</b></span></prlgm> mutat.io</h1>
            The AIO conversion tool - units, time, files, even languages. All completely open source and free.
            <nav class="text-center">
                <a href="https://github.com/ggtylerr/mutat.io">Source</a> | 
                <a href="https://mutatio.readthedocs.io">Docs</a> | 
                <a href="https://github.com/ggtylerr/mutat.io-docs">Source (Docs)</a>
            </nav>
        </section>
        <section>
            <h1 class="text-xl"><prlgm class="gray"><span><b>SOON™</b></span></prlgm> NativeVolt</h1>
            A proper native client for Revolt, the open source alternative to Discord.
        </section>
        <section>
            <h1 class="text-xl"><prlgm class="gray"><span><b>SOON™</b></span></prlgm> GG Bot</h1>
            The extendable and cross-platform chat bot.
        </section>
        <section>
            <h1 class="text-xl"><prlgm class="gray"><span><b>SOON™</b></span></prlgm> cross.js</h1>
            An open source library in Node.JS that allows chat bots to work on multiple platforms, 
            including Discord, Revolt, Matrix, IRC, and more.
        </section>
        <span class="text-center text-2xl flex justify-center pb-3"><prlgm><span><b>LEGACY</b></span></prlgm></span>
        <cards>
            <card>
                <h1 class="text-xl">DSA Bot</h1>
                <p>The Discord bot made for esports.</p>
                <nav class="absolute bottom-2 text-center">
                    <a href="https://github.com/ggtylerr/DSA-Disc-Bot">Source</a>
                </nav>
            </card>
            <card>
                <h1 class="text-xl">KAaNE</h1>
                <p>Keep Assisting and Nobody Explodes. The ultimate defusal tool for <a href="https://keeptalkinggame.com/">KTaNE</a>.</p>
                <nav class="absolute bottom-2 text-center">
                    <a href="https://github.com/ggtylerr/KAaNE-AE-">Android</a> |
                    <a href="https://github.com/ggtylerr/KAaNE-JE-">Java</a> |
                    <a href="https://github.com/ggtylerr/KAaNE">Python 2</a>
                </nav>
            </card>
            <card>
                <h1 class="text-xl">Dark Side SCP</h1>
                <p>An actual working dark theme for SCP wiki.</p>
                <nav class="absolute bottom-2 text-center">
                    <a href="https://github.com/ggtylerr/Dark-Side-SCP">Source</a>
                </nav>
            </card>
            <card>
                <h1 class="text-xl">Fabric Armor</h1>
                <p>A Fabric mod that lets you show off your love for Fabric.</p>
                <nav class="absolute bottom-2 text-center">
                    <a href="https://www.curseforge.com/minecraft/mc-mods/fabric-armor">CurseForge</a> |
                    <a href="https://github.com/ggtylerr/fabricarmor">Source</a>
                </nav>
            </card>
        </cards>
        <Footer />
    </body>
</html>