---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import MainSocial from '../components/MainSocial.astro';
---
<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <link rel="stylesheet" href="https://i.icomoon.io/public/temp/d52f2aeb9f/UntitledProject/style.css">
	</head>
    <body>
        <Header />
        <span class="text-center text-2xl flex justify-center"><prlgm><span><b>OFFICIAL</b></span></prlgm></span>
        <MainSocial />
        <span class="text-center text-2xl flex justify-center pb-3"><prlgm><span><b>PERSONAL</b></span></prlgm></span>
        <section class="text-center"><b>Do not contact me over these platforms for help.</b> These are my personal accounts. You will be ignored.</section>
        <cards class="small text-center">
            <card>
                <span class="text-[3.5em]"><icon></icon></span>
                <h1 class="text-xl">Discord Acc</h1>
                <p class="text-sm">ggtyler</p>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon></span>
                <h1 class="text-xl">YouTube</h1>
                <a href="https://www.youtube.com/@ggtylerr">@ggtylerr</a>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon></span>
                <h1 class="text-xl">Twitch</h1>
                <a href="https://twitch.tv/ggtylerr">ggtylerr</a>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon></span>
                <h1 class="text-xl">Steam</h1>
                <a href="https://steamcommunity.com/id/realggtyler">ggtyler</a>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon></span>
                <h1 class="text-xl">Exophase</h1>
                <a href="https://www.exophase.com/user/ggtyler/">ggtyler</a>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon></span>
                <h1 class="text-xl">Minecraft</h1>
                <a href="https://namemc.com/profile/ggtyler.2">ggtyler</a>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon></span>
                <h1 class="text-xl">osu!</h1>
                <a href="https://osu.ppy.sh/users/10007584">GGTyler</a>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon></span>
                <h1 class="text-xl">Trakt</h1>
                <a href="https://trakt.tv/users/ggtylerr">ggtylerr</a>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon></span>
                <h1 class="text-xl">MyAnimeList</h1>
                <a href="https://myanimelist.net/profile/ggtylerr">ggtylerr</a>
            </card>
        </cards>
        <Footer />
    </body>
</html>