---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---
<!DOCTYPE html>
<html lang="en-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <link rel="stylesheet" href="https://i.icomoon.io/public/temp/d52f2aeb9f/UntitledProject/style.css">
	</head>
    <body>
        <Header />
        <span class="text-center text-2xl flex justify-center"><prlgm><span><b>OFFICIAL</b></span></prlgm></span>
        <section>
            <h1 class="text-xl"><icon></icon> GitHub (<a href="https://github.com/ggtylerr">ggtylerr</a>)</h1>
            All of my current projects are open source and are hosted on my GitHub profile.
        </section>
        <section>
            <h1 class="text-xl">
                <icon></icon> Email (<a href="mailto:contact@ggtylerr.dev">contact@ggtylerr.dev</a>)
                <a href="/other/pgp-key">PGP Key</a>
            </h1>
            The preferred contact for regular and professional inquiries.
        </section>
        <section>
            <h1 class="text-xl"><icon></icon> YouTube (<a href="https://www.youtube.com/@ggtyler-dev">@ggtylerr-dev</a>)</h1>
            Any videos made for my projects (e.g. updates or informational material) are hosted here.
        </section>
        <section>
            <h1 class="text-xl"><icon></icon> Twitter (<a href="https://www.twitter.com/ggtylerr">@ggtylerr</a>)</h1>
            Short updates and related news can be posted on this account.
        </section>
        <section>
            <h1 class="text-xl"><icon></icon> Discord (<a href="https://discord.gg/A4ccPpKp7b">A4ccPpKp7b</a>)</h1>
            General chat server for updates, discussion, bug reports, and so on.
        </section>
        <span class="text-center text-2xl flex justify-center pb-3"><prlgm><span><b>PERSONAL</b></span></prlgm></span>
        <cards class="small text-center">
            <card>
                <span class="text-[3.5em]"><icon></icon></span>
                <h1 class="text-xl">Discord Acc</h1>
                <p class="text-sm">\\GGTyler\\#4480</p>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon></span>
                <h1 class="text-xl">YouTube</h1>
                <a href="https://www.youtube.com/@ggtylerr">@ggtylerr</a>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon></span>
                <h1 class="text-xl">Twitch</h1>
                <a href="https://twitch.tv/ggtylerr">ggtylerr</a>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon></span>
                <h1 class="text-xl">Steam</h1>
                <a href="https://steamcommunity.com/id/realggtyler">ggtyler</a>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon></span>
                <h1 class="text-xl">Reddit</h1>
                <a href="https://www.reddit.com/user/ggtylerr">u/ggtylerr</a>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon></span>
                <h1 class="text-xl">osu!</h1>
                <a href="https://osu.ppy.sh/users/10007584">GGTyler</a>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon></span>
                <h1 class="text-xl">SoundCloud</h1>
                <a href="https://soundcloud.com/ggtylerr">ggtylerr</a>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon></span>
                <h1 class="text-xl">Wikipedia</h1>
                <a href="https://en.wikipedia.org/wiki/User:Ggtylerr">Ggtylerr</a>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon></span>
                <h1 class="text-xl">MyAnimeList</h1>
                <a href="https://myanimelist.net/profile/ggtylerr">ggtylerr</a>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon></span>
                <h1 class="text-xl">Epic Games</h1>
                <a href="https://store.epicgames.com/en-US/u/5d700335703c4d44bff8f0da95f81f38">GGTyler</a>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon></span>
                <h1 class="text-xl">Minecraft</h1>
                <a href="https://namemc.com/profile/ggtyler.2">ggtyler</a>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon></span>
                <h1 class="text-xl">PlayStation</h1>
                <p>ggtylerr</p>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon></span>
                <h1 class="text-xl">Switch</h1>
                <p class="text-xs">SW-3062-3953-4231</p>
            </card>
            <card>
                <span class="text-[3.5em]"><icon></icon></span>
                <h1 class="text-xl">Xbox</h1>
                <p>ggtylerr</p>
            </card>
        </cards>
        <Footer />
    </body>
</html>