<footer>
	<hr/>
	<span>
		Made by Tyler Flowers "ggtyler", &copy; 2019-2024
		
		<a href="/other/privacy">Privacy Policy</a>
	</span>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
	hr {
		border: none;
		height: 1px;
		opacity: 0.2;
		background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, var(--clr-text) 49.48%, rgba(255, 255, 255, 0.00) 100%);
	}
	span {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	
</style>
