---
 // TODO: Check if it's better to put this at the header or footer.
import { Spa } from 'astro-spa'; 
---

<footer>
	Made by Tyler Flowers "ggtyler", &copy; 2019-2024
	
	<br/>
	
	<a href="/other/privacy">Privacy Policy</a>
</footer>
<Spa defaultAnimation={false} />
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
