---
import HeaderLink from './HeaderLink.astro';
import ThemeSwitcher from './ThemeSwitcher.jsx';
---

<header>
	<nav>
		<HeaderLink href="/" class="nounder">gg<span class="prlgm" style="color:var(--clr-bg-soft)"><span>tyler</span></span></HeaderLink>
		<HeaderLink href="/projects">Projects</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/social">Social</HeaderLink>
		<HeaderLink href="/other">Misc</HeaderLink>
		<ThemeSwitcher client:only="react" />
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>