<cards>
    <card>
        <a href="/resume.pdf" target="_blank" class="text nodeco inline-block h-full w-full">
            <p class="text-xl redeco accent">Resume</p>
            Hire me!
        </a>
    </card>
    <card>
        <a href="/other/brand-kit" class="text nodeco inline-block h-full w-full">
            <p class="text-xl redeco accent">Brand Kit</p>
            Design guidelines for my projects
        </a>
    </card>
    <card>
        <a href="/other/frontends" class="text nodeco inline-block h-full w-full">
            <p class="text-xl redeco accent">Frontends</p>
            Alternative Frontends to multiple services, hosted on the
            ggtyler server cluster.
        </a>
    </card>
    <card>
        <a href="/other/privacy" class="text nodeco inline-block h-full w-full">
            <p class="text-xl redeco accent">Privacy Policy</p>
            The site's privacy policy (spoilers: I don't collect any data)
        </a>
    </card>
    <card>
        <a href="/other/pgp-key.asc" class="text nodeco inline-block h-full w-full">
            <p class="text-xl redeco accent">PGP Key</p>
            My PGP pubkey, in case you want to send an encrypted email to me.
        </a>
    </card>
    <card>
        <a href="/other/credits" class="text nodeco inline-block h-full w-full">
            <p class="text-xl redeco accent">Credits</p>
            The resources and people who helped make this possible
        </a>
    </card>
</cards>