<section>
    <h1><prlgm><span>BETA</span></prlgm> ggtyler.dev</h1>
    <span>
        <p>The very site you're on. Completely open source. Made in <a href="https://astro.build">Astro.</a></p>
        <nav>
            <a href="/">Index</a>
            <a href="https://github.com/ggtylerr/ggtyler.dev">Source</a>
        </nav>
    </span>
</section>
<section>
    <h1><prlgm class="error"><span>WIP</span></prlgm> AstroTube</h1>
    <span>
        <p>A proof of concept YouTube frontend built with Astro.</p>
        <nav>
            <a href="https://at.ggtyler.dev">Demo</a>
            <a href="https://github.com/ggtylerr/astrotube">Source</a>
        </nav>
    </span>
</section>
<section>
    <h1><prlgm class="error"><span>ALPHA</span></prlgm> mutat.io</h1>
    <span>
        <p>The AIO conversion tool - units, time, files, even languages. All completely open source and free.</p>
        <nav>
            <a href="https://mutatio.readthedocs.io">Docs</a>
            <a href="https://github.com/ggtylerr/mutat.io">Source</a>
        </nav>
    </span>
</section>
<section>
    <h1><prlgm class="gray"><span>SOON™</span></prlgm> NEPTube</h1>
    <span>
        <p>A Native and Extendable Platform for Tube-like sites.</p>
    </span>
</section>
<section>
    <h1><prlgm class="gray"><span>ARCHIVED</span></prlgm>Project GLOBE</h1>
    <span>
        <p>The Global Liberation Of Browsing and Entertainment - an effort to improve the access to privacy-friendly frontends across the globe.</p>
        <nav>
            <a href="https://github.com/ggtylerr/globe">Source</a>
        </nav>
    </span>
</section>

<style>
    h1 {
        font-size: 1.25em;
        line-height: 1.75rem;
        font-weight: bold;
        font-family: "Onest", Verdana, sans-serif;
    }
    section > span {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
    nav {
        min-width: fit-content;
    }
</style>